

## REVIEWS IN BASIC AND CLINICAL GASTROENTEROLOGY
## AND HEPATOLOGY
Evaluation of Abnormal Liver Biochemical Test Results
## Paul Y. Kwo,
## 1
## Howard C. Masuoka,
## 2
## Esperance A. Schaefer,
## 3
and Lawrence S. Friedman
## 4,5,6,7
## 1
Division of Gastroenterology and Hepatology, Department of Medicine Stanford Medicine, Palo Alto, California;
## 2
Division of
Gastroenterology and Hepatology, Department of Medicine, Indiana University, Indianapolis, Indiana;
## 3
Division of
Gastroenterology, Department of Medicine, Brigham and Women’s Faulkner Hospital and Harvard Medical School, Boston,
## Massachusetts;
## 4
Department of Medicine, Newton-Wellesley Hospital, Newton, Massachusetts;
## 5
Division of
Gastroenterology, Massachusetts General Hospital, Boston, Massachusetts; and
## 6
Department of Medicine, Harvard Medical
School, Boston, Massachusetts; and
## 7
Department of Medicine, Tufts University School of Medicine, Boston, Massachusetts
Liver biochemical and function tests—alanine amino-
transferase, aspartate aminotransferase, alkaline phos-
phatase, bilirubin, prothrombin time, and albumin—are
used to screen and identify people with acute and chronic
liver disease. Elevations in alanine aminotransferase and
aspartate aminotransferase reflect hepatocellular injury,
with more urgent evaluation required when the interna-
tional normalized ratio of prothrombin is prolonged and
the bilirubin level elevated. An elevation in alkaline
phosphatase reflects a cholestatic process and impaired
bile flow. Bilirubin may be elevated with either hepato-
cellular or cholestatic injury. Albumin, prothrombin time,
and bilirubin are tests of hepatic function. Evaluation of
abnormal liver tests includes history taking with attention
to metabolic risk factors, alcohol, medications, and herb-
al/dietary supplements, followed by an examination, to
determine the etiology of liver injury, acuity of illness, and
presence of complications. Abdominal imaging provides
information regarding liver morphology, steatosis, biliary
dilatation, and portal hypertension. Elastography provides
information about fibrosis and steatosis. If no explanation
for abnormal liver tests can be determined, extrahepatic
causes should be investigated. Liver tests used in the esti-
mation of hepatic fibrosis include the fibrosis-4 index and
aspartate aminotransferase-to-platelet ratio index. Many
proprietary tests of hepatic fibrosis incorporate liver
biochemical tests. Liver tests may also be used in the
assessment of prognosis, particularly in people with
cirrhosis, alcohol-associated liver disease, and metabolic
dysfunction–associated steatotic liver disease. Liver test el-
evations in critically ill patients often reflect severe hepa-
tocellular injury, whereas liver test elevations often indicate
hepatotoxicity in people receiving chemotherapy and im-
mune checkpoint inhibitors. With the availability of many
approaches to assessing the diagnosis and severity of liver
disease, the role of liver biopsy has become more limited.
Keywords: Abnormal Liver Chemistry; Noninvasive Tests of
Fibrosis; Cholestasis; Tests of Hepatic Function.
## C
hronic liver disease and its complications account
for up to 2 million (4% of the total) deaths world-
wide
## 1
and are associated with substantial morbidity,
reduced quality of life, and economic costs. In 2017, there
were an estimated 122 million prevalent cases of cirrhosis
worldwide. The major diseases contributing to this burden
are alcohol-associated liver disease (ALD), which is the
leading cause of cirrhosis globally; metabolic dysfunction–
associated liver disease (MASLD), which affects approxi-
mately one-quarter of the world’s population and is the
second leading cause of cirrhosis and liver transplantation
in Europe and North America; and hepatitis B virus (HBV)
and hepatitis C virus (HCV) infections. The number of
newly infected viral hepatitis cases declined from 3 million
in 2019 to 2.2 million in 2022, of which approximately 1.2
million were HBV related and 1 million were HCV related.
## 2
Viral hepatitis remains a substantial health threat, with 1.3
million deaths annually, the vast majority of which (83%)
are caused by HBV.
## 1
One explanation for the large burden of liver disease is
chronic liver disease is often not recognized until advanced
fibrosis or complications have developed. Earlier identifi-
cation of chronic liver disease can allow for timely in-
terventions and identify multisystem disorders, such as
metabolic syndrome.
## 3
To screen for and diagnose acute or
chronic liver disease, clinicians order liver biochemical
tests. The typical screening blood tests include alanine
aminotransferase (ALT), aspartate aminotransferase (AST),
alkaline phosphatase, bilirubin, prothrombin time (PT), and
albumin. Historically, these laboratory tests have been
called “liver function tests,” although only bilirubin, PT, and
Abbreviations used in this paper: AIH, autoimmune hepatitis; ALD,
alcohol-associated liver disease; ALF, acute liver failure; ALT, alanine
aminotransferase; APRI, aspartate aminotransferase to platelet index;
AUROC, area under the receiver operating characteristic curve; CTP,
Child-Turcotte-Pugh; DILI, drug-induced liver injury; FIB-4, fibrosis-4 in-
dex; GGT, γ-glutamyl transpeptidase; GVHD, graft-vs-host disease; HBV,
hepatitis B virus; HCV, hepatitis C virus; HDS, herbal and dietary sup-
plement; ICI, immune checkpoint inhibitor; ICU, intensive care unit; INR,
international normalized ratio of prothrombin; MASH, metabolic
dysfunction–associated steatohepatitis; MASLD, metabolic dysfunction–
associated liver disease; MELD, Model for End-Stage Liver Disease; PT,
prothrombin time; SCT, stem-cell transplantation; SOS, sinusoidal
obstruction syndrome; TPN, total parenteral nutrition; ULN, upper limit of
normal; VOD, veno-occlusive disease.
Most current article
## © 2026 American Gastroenterological Association Institute. Published
by Elsevier Inc. All rights are reserved, including those for text and data
mining, AI training, and similar technologies.
## 0016-5085/$36.00
https://doi.org/10.1053/j.gastro.2025.12.041
## Gastroenterology 2026;170:1457–1472
## REVIEWS

## AND

## PERSPECTIVES

albumin assess hepatic function; the other tests reflect
hepatic injury. Bilirubin, PT, and albumin may be affected
by extrahepatic factors (ie, hemolysis, vitamin K deficiency,
and nutritional deficiencies) and must therefore be inter-
preted in the appropriate clinical context. Although quan-
titative tests of hepatic function are available to clinicians,
## 4
liver function per se is rarely assessed. “Abnormal” liver
tests in the United States have been reported in approxi-
mately 7.9% of people tested,
## 5
with a recent study of
people in low-and middle-income countries reporting a
similar frequency of 8%.
## 6
## Aminotransferases
The serum aminotransferases, ALT and AST, are
markers of hepatocellular injury. These enzymes are
important in protein synthesis as they catalyze the transfer
of α-amino groups of alanine and aspartate to form pyru-
vate and oxaloacetate, respectively. ALT is localized pri-
marily in the liver and resides in the cytosol, with a half-life
in serum of approximately 47 hours.
## 7
AST is more widely
distributed within the liver as well as in cardiac, skeletal,
kidney, and brain tissue, with a shorter serum half-life of 17
hours due to more rapid clearance.
## 7
Therefore, AST is less
specific than ALT for liver disease. Unlike ALT, AST resides
predominantly in the mitochondria, with 80% of AST ac-
tivity attributed to the mitochondrial isoenzyme and 20%
residing in the cytosol as a different isoenzyme.
## 8
The definition of a truly normal ALT level has been
variable. One guidance defined a normal serum ALT level as
29 to 33 U/L in males and 19 to 25 U/L in females in the
absence of identifiable risk factors, with higher levels
associated with higher rates of liver-related mortality.
## 9
## A
recent pooled analysis of more than 400,000 individuals
without metabolic disease found the 95
th
percentile of
upper limit of normal (ULN) for ALT to be 36 U/L in males
and 28 U/L in females (32 U/L overall), with the overall
ALT ULN rising to 40 U/L among those who were over-
weight and to 36 U/L in those with type 2 diabetes melli-
tus.
## 10
Another guidance regarding the management of HBV
infection defined a normal ALT as up to 35 U/L for men and
25 U/L for women.
## 11
The clinical implications of adopting
lower ALT cutoffs include earlier identification of patients
at risk for chronic liver disease, particularly MASLD, and
improved prediction of adverse liver outcomes. This
approach may also increase the number of individuals
classified as abnormal, with potential downstream effects
on health care resource utilization and cost-effectiveness.
However, significant liver disease can occur even with
ALT levels that are considered “normal” by traditional
standards.
## 12
Numerous methods have been developed for
measuring ALT and AST, and these methods typically rely
on the measurement of lactate and malate in the amino-
transferase reactions.
## 13
Some variability exists in the
commercial analyzer manufacturers, with 1 report from the
Veterans Health Administration noting differences in ALT
levels among 5 analyzers when ALT levels were compared
with levels of 50 and 35 U/L in standardized samples.
## 14
Persistently (as with autoimmune hepatitis [AIH]) or
intermittently (as with chronic HBV infection) elevated ALT
and AST levels are categorized as hepatocellular injury or
hepatitis. The degree of elevation of ALT and AST is helpful
in distinguishing possible causes of liver diseases and
should be contextualized with tests of liver function,
including normalized ratio of prothrombin (INR) and bili-
rubin and with the clinical presentation. Elevations in ALT
and AST have previously been classified as borderline
(<2 × ULN), mild (2–5 × ULN), moderate (5–15 × ULN),
severe (>15 × ULN), and massive (>10,000 U/L), and the
urgency of evaluating elevations in ALT and AST is based
on the degree of elevations.
## 9,15
Regardless of the degree of
elevation of ALT and AST, the abnormal levels should be
assessed in context, with a more urgent evaluation in the
setting of an acute presentation, such as acute symptomatic
hepatitis A, in which ALT and AST levels are generally at
least 5–15 × ULN, or when the INR is prolonged or the
bilirubin is elevated (Figure 1).
## 16
In the absence of precise
cutoffs, aminotransferase elevations up to 5 times the ULN
may be seen in commonly encountered liver diseases,
including ALD, MASLD, and chronic viral hepatitis (see
## Figure 1).
An AST-to-ALT ratio can also be useful; a ratio >2
typically suggests ALD, which is explained by a deficiency
of pyridoxine, with depression of ALT levels to a greater
degree than AST.
## 17,18
An AST level >400 U/L is unlikely in
## ALD.
## 19
An isolated elevated AST level may represent an
artifact due to complexes of AST with immunoglobulins
(macro-AST).
## 19
AST levels will also be higher than ALT
levels in an acute presentation or in cases of cirrhosis in
patients with Wilson disease. This pattern, in combination
with a low alkaline phosphatase level, is highly suggestive
of Wilson disease.
## 20
Finally, cirrhosis has been associated
with increased AST-to-ALT ratio, and this pattern has been
attributed to reduced hepatic clearance of AST, possible
mitochondrial injury, and reduced ALT synthesis.
## 21
## Alkaline Phosphatase
Cholestasis is defined as an impairment in bile flow and
is characterized by elevations in alkaline phosphatase and
often bilirubin levels (although bilirubin may also be
elevated in hepatocellular injury). The elevation in alkaline
phosphatase may occur even if the impairment to bile flow
is minor and insufficient to increase serum bilirubin levels.
Alkaline phosphatase refers to a family of 4 isoenzymes
that catalyze hydrolysis of phosphate esters that are found
primarily in the canalicular membrane of hepatocytes, as
well as in bone, placenta, intestine, and kidney.
## 22
## Frac-
tionation of serum alkaline phosphatase may identify the
source of alkaline phosphatase, with the most common
being the liver and bone. Concurrent elevation of γ-glu-
tamyl transpeptidase (GGT) or 5
## ′
-nucleotidase confirms a
hepatic source of an isolated elevation of alkaline phos-
phatase. In adults, the alkaline phosphatase level is some-
what higher in men than women. In children, serum
alkaline phosphatase levels are elevated and correlate with
the rate of bone growth. Enzyme activity also increases in
late pregnancy due to a placental source. In cholestatic liver
disease, the increase in alkaline phosphatase is related to
increased synthesis in the canalicular membrane, with
1458 Kwo et al Gastroenterology Vol. 170, Iss. 7
## REVIEWS

## AND

## PERSPECTIVES

translocation of the enzyme to the basal lateral surface of
the hepatocyte and release into the serum.
Cholestasis may be extrahepatic or intrahepatic and may
present as a chronic condition, as in primary biliary cholangitis,
or acutely, as with a retained bile duct stone or cholangitis, in
which there is an abrupt elevation in aminotransferase levels
with gradual elevations in alkaline phosphatase and bilirubin
(Figure 2). People who present acutely with symptoms such as
biliary pain with an elevated alkaline phosphatase should be
assessed immediately for biliary obstruction. In addition, a
large number of rare inherited causes of cholestasis present
primarily in childhood and are caused by mutations in cana-
licular membrane proteins or other proteins involved in bile
acid metabolism (see Figure 2).
## 23
Mixed hepatocellular-cholestatic patterns of liver injury
occur when both ALT and AST levels and alkaline phos-
phatase levels are elevated. Mixed patterns are often seen
in drug-induced livery injury (DILI), alcohol-associated
Figure 1. Evaluation of hepatocellular injury with elevations in ALT and AST. *Based on an ALT ULN of 33 U/L for males and 25
U/L for females.
## †
ANA, anti-smooth muscle antibodies, ceruloplasmin, α1-antitrypsin level/phenotype may be deferred after a
period of observation when elevations of aminotransferase levels are minimal (<2 × ULN). α1-antitrypsin deficiency should be
confirmed with genotyping of the SERPINA1 gene. anti-HBc, hepatitis B core antibody; anti-HBs, hepatitis B surface antibody;
ALF, acute liver failure; ASMA, anti-smooth muscle antibody; CBC, complete blood count; CMV, cytomegalovirus; EBV, Epstein-
Barr virus; HAV, hepatitis A virus; HbsAg, hepatitis B antigen; HSV, herpes simplex virus; IG, immunoglobulin; PCR, polymerase
chain reaction; PEth, phosphatidylethanol; PMH, past medical history; US, ultrasonography.
June 2026 Evaluation of Abnormal Liver Biochemical Test Results 1459
## REVIEWS

## AND

## PERSPECTIVES

hepatitis, extrahepatic biliary obstruction, acute viral hep-
atitis (including cytomegalovirus and Epstein-Barr virus
hepatitis) and, rarely, autoimmune overlap syndromes,
among other etiologies.
## 19,24–26
The R ratio (R = [ALT value / ALT ULN] / [alkaline
phosphatase value/alkaline phosphatase ULN]) quantifies
whether the pattern of injury is predominantly hepatocel-
lular, cholestatic, or mixed and was used originally in the
assessment of DILI.
## 27
An R ratio >5 suggests hepatocellular
injury, <2 suggests cholestatic injury, and 2–5 represents a
mixed pattern of hepatocellular injury, and the R ratio has
been reported to have high specificity and negative pre-
dictive value in excluding severe DILI with positive results
requiring clinical correlation.
## 28
Tests of Liver Function
The albumin, PT, and total bilirubin are serum tests that
reflect liver function. Albumin is a plasma protein, syn-
thesized by the liver with a half-life of approximately 18
days; any acute illness may reduce its half-life. Albumin
levels correlate with the severity of chronic liver disease,
especially cirrhosis. The PT is a more sensitive reflection of
liver function than albumin and assesses hemostasis,
incorporating factors I, II, V, VII, and X.
## 29
The PT may also
be prolonged in people with vitamin K deficiency, taking
anticoagulants, or with a coagulation disorder. A prolonged
INR in the setting of cirrhosis does not reduce the risk of
developing thrombosis, nor does a prolonged INR predict
Figure 2. Evaluation of cholestatic presentation with elevation in alkaline phosphatase level. *Rare inherited causes of
cholestasis present primarily in childhood and are caused by mutations in canalicular membrane proteins or other proteins
involved in bile acid metabolism with next-generation sequencing allowing identification of many of these genetic causes of
cholestatic disorders. Most common is progressive familial intrahepatic cholestasis, a group of disorders with 6 variants, of
which progressive familial intrahepatic cholestasis 3 is most likely to present in adulthood with cirrhosis due to cholestasis
and a high GGT level. Alagille syndrome is a disorder resulting from mutation in the notch signaling pathway that presents
with an elevated alkaline phosphatase and a paucity of bile ducts on liver biopsy specimens.
## †
Anti-SP100 and anti-GP210 are
highly specific for primary biliary cholangitis. AMA, antimitochondrial antibody; ANA, antinuclear antibody; ASMA, anti–
smooth muscle antibody; ERCP, endoscopic retrograde cholangiopancreatography; MRCP, magnetic resonance chol-
angiopancreatography; PBC, primary biliary cholangitis; PSC, primary sclerosing cholangitis; US, ultrasound.
1460 Kwo et al Gastroenterology Vol. 170, Iss. 7
## REVIEWS

## AND

## PERSPECTIVES

bleeding complications in the setting of cirrhosis.
## 30,31
## Bili-
rubin is the breakdown product of hemoglobin, with the
majority of bilirubin occurring in an unconjugated form and
circulating bound to albumin. The serum bilirubin level is
typically reported as total bilirubin, but can be fractionated
into direct (conjugated) and indirect (unconjugated) fractions.
Fractionation of bilirubin is most helpful when other liver
chemistries are normal or near normal. Elevated conjugated
bilirubin is present in both hepatocellular and cholestatic
disorders and may reflect decreased excretion of bilirubin
across the canalicular membrane or leakage of bilirubin from
hepatocytes into the serum. Isolated elevation of the indirect
bilirubin to a level no higher than 7 mg/dL is commonly due
to Gilbert syndrome, but may be caused by hemolysis.
True tests of liver metabolic function are rarely per-
formed in practice. The galactose elimination test is used as
a quantitative measure of hepatic function to calculate
functional hepatocyte mass. Similarly, the caffeine clear-
ance test has been used historically to differentiate hepa-
tocellular disease from biliary obstruction, but the test also
has suboptimal specificity.
## 32
Both the Hepatiq test for liver
function, which uses single-photon emission computed to-
mography scanning,
## 33
and the HepQuant assay, a quanti-
tative test of liver function that assesses clearance of
cholate, are newer available tests to measure liver function
and have been demonstrated to predict clinical outcomes in
those with advanced fibrosis due to hepatitis C.
## 4,34
Approach to the Patient With Abnormal
## Liver Tests
In the approach to abnormal liver tests, history taking
should focus on risk factors for metabolic syndrome, alcohol
use, risk factors for viral hepatitis, and current and recent use
of medications, and herbal and dietary supplements (HDS). A
history of recent infection; viral prodrome; inflammatory
bowel disease; and pulmonary, cardiac, or hematologic dis-
orders is important to obtain, and patients should be queried
about a family history of liver disease. In patients presenting
with jaundice, a history of hepatobiliary or gastrointestinal
disease, including gallstones and inflammatory bowel dis-
ease, should be obtained. Extrahepatic causes of elevated
liver biochemical tests may be considered, including thyroid
disease, celiac disease, and heart failure (see section on
Extrahepatic Causes of Elevated Liver Tests). In people pre-
senting with cholestasis, light-colored stools (due to the lack
of urobilinogen and its oxidation product stercobilin), pru-
ritus, and bilirubinuria (dark urine) should be noted.
Specific findings of liver disease are shown in Figure 3.
Before initiating an evaluation for elevations in liver tests,
the liver panel should be repeated, or confirmatory testing
(eg, GGT for an isolated alkaline phosphatase elevation)
should be obtained. Potentially hepatotoxic medicines and
all alcohol use should be discontinued. If surreptitious
alcohol use is suspected, a phosphatidylethanol level—a
serum marker reflecting alcohol consumption within 30
days—may be ordered.
## 35
In patients with mild elevations
in aminotransferase levels, initial testing should include
serologic testing for HBV and HCV, with confirmatory testing
for HCV RNA if anti-HCV is positive, and an iron panel,
including ferritin and transferrin saturation. ANA, anti-smooth
muscle antibodies, ceruloplasmin, α1-antitrypsin level/
phenotype may be ordered or deferred after a period of
observation when elevations of aminotransferase levels are
minimal (<2XULN). An elevated iron saturation or ferritin
should be further assessed with HFE genotyping, although
hereditary hemochromatosis, caused by excess iron absorp-
tion due to defective or impaired hepcidin function or syn-
thesis, has low penetrance.
## 36
Elevations in ferritin are far more
commonly due to ALD or MASLD (up to one-third of those
with MASLD); alcohol consumption increases ferritin synthesis
by reducing hepcidin activity, and the metabolic syndrome
alters the regulation of molecules involved in cellular iron
export, leading to dysmetabolic iron overload syndrome.
## 37,38
Abdominal imaging by ultrasonography can provide in-
formation about liver morphology, steatosis, biliary dilatation,
and portal hypertension. Elastography may also provide in-
formation about fibrosis as well as steatosis in people with
chronic liver disease, and can be obtained as a point-of-care
test (vibration-controlled transient elastography) or with an
ultrasonography (shear-wave elastography).
## 39
If testing does
not reveal an obvious etiology, then a period of observation
for up to 3 months may be considered, especially when the
elevations are minimal, as in people with an elevated AST or
alkaline phosphatase level in the absence of other liver test
abnormalities, or additional testing for AIH, Wilson disease,
α1-antitrypsin deficiency, if not yet completed, and other
extrahepatic causes may be pursued. When a period of
observation is selected, it is important to ensure that
advanced fibrosis is not present. The decision to perform
extensive testing or focused testing in individuals with
elevated liver enzymes has been examined using a micro-
simulation state-transition model. This model compared an
extensive testing strategy with a focused evaluation and
showed that the extensive testing had a lower cost with fewer
physician visits; however, focused testing produced fewer
false-positive results and more liver biopsies. In the referral
setting, assessments for viral hepatitis, ALD, and MASLD have
generally already been conducted.
## 40
In a pooled analysis of
prospective studies involving liver biopsy for undifferentiated
liver disease, hemochromatosis, α1-antitrypsin deficiency,
and Wilson disease were found in <1% of cases.
## 41
In people with more significant elevations of ALT and
AST, a complete evaluation as well as an assessment for
evidence of acute liver failure (ALF) should be performed
(see Figure 1). The serum ferritin level is also an acute-phase
reactant and is typically elevated in such cases, although
extremely high ferritin values (>10,000 μg/L) should prompt
an assessment for hemophagocytic lymphohistiocytosis.
## 42
The role of liver biopsy has evolved in clinical practice.
Previously, liver biopsy was done commonly to assess the
degree of fibrosis. Excellent noninvasive testing to assess
for fibrosis (see section on Liver Tests in the Assessment of
Hepatic Fibrosis) and for biliary obstruction can now be
performed serially to monitor progression of disease.
## 3
Liver biopsy remains important, however, for determining
the cause of otherwise unexplained chronically or acutely
elevated liver biochemical tests. Liver biopsy may also be
June 2026Evaluation of Abnormal Liver Biochemical Test Results1461
## REVIEWS

## AND

## PERSPECTIVES

necessary to confirm the diagnosis of metabolic dysfunction–
associated steatohepatitis (MASH)—although validated bio-
markers for MASH are in development
## 43,44
—and is useful
when a concomitant disease may be present, as in people
with MASH and high levels of immune markers (MASH plus
AIH). Liver biopsy may also confirm the presence of a specific
disease, as suggested by the presence of Periodic acid-Schiff–
positive globules in α1-antitrypsin deficiency, high hepatic
copper levels in Wilson disease, and an elevated hepatic iron
index in hemochromatosis.
Extrahepatic Causes of Elevated Liver
## Tests
Several extrahepatic disorders are associated with liver
biochemical test elevations. Celiac disease is an important
cause of abnormal liver tests and has been found in 6%–9%
of patients with elevated aminotransferase levels in the
absence of other causes of liver disease.
## 45,46
## Conversely,
15%–55% of patients with celiac disease have mild to
moderate elevations in serum liver enzyme levels.
## 47
## The
aminotransferase elevations are typically mild, with the
ALT level usually exceeding the AST level. Alkaline phos-
phatase elevations can occur, and in severe cases the INR
can be increased and albumin decreased due to intestinal
malabsorption. IgA transglutaminase antibody while the
patient is on a gluten-containing diet, combined with a
serum IgA level to exclude IgA deficiency, is used to screen
for celiac disease. In the majority of patients with celiac
disease who adhere to a gluten-free diet, liver tests will
normalize in up to several months.
Because both ALT and AST are present in skeletal
muscle, rhabdomyolysis or another cause of muscle injury
leads to elevated aminotransferase levels, with AST initially
exceeding ALT in a ratio usually of at least 2:1. Rhabdo-
myolysis can be distinguished by markedly elevated crea-
tine kinase levels as well as clinical findings of muscle
tenderness.
Figure 3. Physical examination of the patient with liver disease. The physical examination is typically normal, although
physical findings suggesting advanced or severe liver disease may be present, including jaundice, conjunctival icterus,
muscle wasting, ascites, splenomegaly, palmar erythema, caput medusae, and spider angiomas. A palpable liver may
suggest hepatomegaly, particularly in the setting of ALD and MASLD. The finding of asterixis or mental status changes in the
absence of prior liver disease in a patient with abnormal liver tests should prompt an immediate assessment for ALF, with
transfer to a transplant center if appropriate. A1AT, α1 antitrypsin deficiency; P2, second pulmonic heart sound.
1462 Kwo et al Gastroenterology Vol. 170, Iss. 7
## REVIEWS

## AND

## PERSPECTIVES

Bone disease is a common cause of an alkaline phos-
phatase elevation. Increased serum alkaline phosphatase is
commonly seen with osteomalacia secondary to vitamin D
deficiency, osteoporosis, a recent fracture or orthopedic
procedure, and Paget disease. Determining whether the
increase in alkaline phosphatase is due to bone disease can
be confirmed by an elevated bone alkaline phosphatase
isoenzyme level or a normal GGT or 5
## ′
nucleotidase. A
physiologic increase in alkaline phosphatase during preg-
nancy is due to placental production.
Hyperthyroidism is associated with abnormal liver tests
in 55%– 60% of patients. Proposed mechanisms include
oxidative stress, cholestasis, and enhanced osteoblastic
activity.
## 6,48,49
Hypothyroidism is also associated with an
increased frequency of elevated aminotransferase levels,
due in part to an increased frequency of MASLD.
## 50
Congestive hepatopathy is another important cause of
abnormal liver tests that should be considered in patients
with right-sided heart failure or other causes of elevated
central venous pressure, such as tricuspid regurgitation
and constrictive pericarditis. Typically, aminotransferase
levels are moderately elevated at 2–3 times the ULN; the
total bilirubin is elevated, although rarely more than 3 mg/
dL; the alkaline phosphatase is mildly elevated; and the INR
is increased.
## 51
Hepatic ischemia from hypoperfusion, as in cardiogenic
or septic shock and occasionally in respiratory failure, is a
common cause of acute marked aminotransferase eleva-
tions in critically ill patients in the intensive care unit (ICU);
the AST frequently exceeds 10 × the ULN. Such critically ill
patients can also develop a cholestatic pattern of abnormal
liver tests due to the so-called cholestasis of sepsis.
Liver Tests in the Assessment of
## Hepatic Fibrosis
Traditionally, liver biopsy has been the gold standard
for staging hepatic fibrosis, but its invasive nature, poten-
tial complications, sampling error, interobserver variability,
and unsuitability for use as a large population screening
tool have fueled the search for reliable noninvasive tests to
assess liver fibrosis. Many serologic markers have been
examined, and several panels have been developed that
incorporate multiple markers to estimate the hepatic
fibrosis stage (Table 1). Serologic markers can be direct
markers of fibrosis that reflect extracellular matrix turn-
over (such as hyaluronic acid, tissue inhibitor of metal-
loproteinases, and N-terminal propeptide of collagen type
III) or indirect markers that reflect hepatic dysfunction.
The aspartate aminotransferase-to-platelet index
(APRI) and the fibrosis-4 index (FIB-4) scores are simple
calculations based on routinely collected laboratory data.
The APRI includes the AST level and platelet count and has
been validated in patients with chronic HCV infection, for
which it has moderate predictive value.
## 9,67
In this patient
population, the area under the receiver operating charac-
teristic curve (AUROC) of the APRI for the diagnosis of
significant fibrosis (F2–F4), advanced fibrosis (F3–F4), and
cirrhosis (F4) were 0.77, 0.80, and 0.83, respectively.
## 68
## For
example, an APRI threshold of 0.7 was 77% sensitive and
72% specific for significant fibrosis, and a threshold of 1.0
was 76%–89% sensitive and 72%–75% specific for
cirrhosis. An APRI of >2 was 57% sensitive and 93%
specific for cirrhosis.
The FIB-4 was developed from a cohort of patients with
HIV/HCV co-infection and includes age, ALT, AST, and
platelet count.
## 55
A FIB-4 score <1.45 has a negative pre-
dictive value for excluding advanced fibrosis of 90% with a
sensitivity of 70%. A cutoff of >3.25 has a positive pre-
dictive value of 65% and a specificity of 97% for advanced
fibrosis. FIB-4 has better accuracy than APRI in predicting
cirrhosis in patients with chronic HCV infection (AUROC
0.896 vs. 0.823, with transient elastography as the refer-
ence [see Table 1]).
## 11,55
In patients with chronic HBV
infection, FIB-4 has been shown to have moderate sensi-
tivity and accuracy, with an AUROC of 0.8165 (compared
with 0.7347 for APRI).
## 69
In patients with chronic HBV
infection, a FIB-4 score <1.45 has a negative predictive
value for excluding advanced fibrosis of 90% and a sensi-
tivity of 70%. A value >3.25 has a positive predictive value
of 65% and a specificity of 97% for advanced fibrosis. A
FIB-4 score <1.3 is associated with a strong negative pre-
dictive value for advanced hepatic fibrosis and may be
useful for the exclusion of advanced fibrosis in people with
## MASLD.
## 3
The FIB-4 has moderate accuracy in detecting
advanced fibrosis (bridging fibrosis or cirrhosis) in patients
with MASLD, with an AUROC of 0.802, although it may be
less useful in excluding advanced fibrosis in patients with
MASLD who are lean or have severe (class III) obesity.
## 70,71
FIB-4 should be used with caution in patients younger than
35 years or older than 65 years, in whom the test has been
found to be less reliable, although a revised cutoff of 2.0 has
been found to improve performance in excluding advanced
fibrosis in those older than 65 years.
## 72
FibroTest (licensed in the United States as FibroSURE,
BioPredictive) uses a combination of 5 serum markers,
including total bilirubin, GGT, α2-macroglobulin, haptoglobin,
and apolipoprotein A1, along with age and sex, to assess
fibrosis. The FibroTest-ActiTest (BioPredictive) includes ALT
as an additional marker and provides an estimate of fibrosis
and necroinflammatory activity in the liver. The test has been
validated in patients with chronic HCV infection, chronic HBV
infection, ALD, and MASLD.
## 58,59,73–76
FibroTest should not be
used in patients with Gilbert syndrome, hemolysis, biliary
obstruction, or acute hepatitis because these conditions will
result in an overestimation of the fibrosis stage.
The enhanced liver fibrosis test is a commercially
available laboratory panel that uses the following 3 direct
fibrosis markers: hyaluronic acid, tissue inhibitor of met-
alloproteinases, and N-terminal propeptide of collagen type
III. It has been found to be accurate in detecting advanced
fibrosis in ALD and MASLD.
## 77,78
In screening patients with
ALD and MASLD for advanced fibrosis, a sequential test
strategy of FIB-4 followed, in indeterminate cases, by
enhanced liver fibrosis was found in 1 study to lead to the
need for confirmatory liver stiffness measurement with
transient elastography in few patients, while retaining a
high rate of detected cases of advanced fibrosis.
## 64
June 2026 Evaluation of Abnormal Liver Biochemical Test Results 1463
## REVIEWS

## AND

## PERSPECTIVES

## Table

## 1.
## Commonly

## Used

## Noninvasive

## Test

## Panels

for

## Assessing

## Hepatic

## Fibrosis
## Noninvasive

test

## Liver

disorder
## Fibrosis
stage
## Sensitivity,
## %
## Specificity,
## %
## PPV,

## %
## NPV,

## %
## AUROC

## Components

## F0–F1

## F2–F4
## (significant
fibrosis)
## F3–F4
## (advanced
fibrosis)
## F4
## (cirrhosis)
## APRI

## 52
## ,
## 53

## HCV,

## HBV,

## MASLD
## ≤
## 0.3

## >
## 0.7

## >
## 1.19

## >
## 2
## 84

## 88

## 66

## 95

## 0.568–0.803

## AST,

platelets
## FIB-4

index

## 54–58

## HCV,

## HBV,

## MASLD
## <
## 1.30

## ≥
## 1.45

## >
## 2.67

a
## >
## 3.25

b
## ≥
## 3.48

## 71

## 85

## 50

## 93

## 0.802–0.896

## Age,

## AST,

## ALT,

platelets
FibroTest

fibrosis

score

## 59–61
## HCV,

## HBV,

## MASLD,

## ALD,

## AIH
## <
## 0.48

## ≥
## 0.48

## ≥
## 0.58

## >
## 0.74

## 92

## 97

## 60

## 89

## 0.75–0.86

## Age,

sex,

total

bilirubin,

## GGT,

α
## 2
## -
macroglobulin,

apolipoprotein

## A1,

haptoglobin
## Enhanced

liver

fibrosis

test

## 62–66
## HCV,

## MASLD,

## ALD,

## PBC
## <
## 7.7

## ≥
## 7.7

## ≥
## 9.8

## >
## 11.3

## 65

## 86

## 75

## 79

## 0.75–0.85

## Hyaluronic

acid,

amino-terminal

propeptide

of

type

## III

collagen,

tissue

inhibitor

of

matrix

metalloproteinase-1
## NPV,

negative

predictive

value;

## PBC,

primary

biliary

cholangitis;

## PPV,

positive

predictive

values

for

advanced

fibrosis.

a
## Testing

cohort.
b
## Validation

cohort.
1464 Kwo et al Gastroenterology Vol. 170, Iss. 7
## REVIEWS

## AND

## PERSPECTIVES

Individuals with indeterminate results for advanced
fibrosis should undergo further evaluation with transient
elastography, magnetic resonance elastography, or liver
biopsy unless there are clear imaging findings of cirrhosis.
Combining a noninvasive test with elastography, such as
FibroScan-AST and MRI-AST, may potentially improve the
diagnostic accuracy of fibrosis estimation.
## 79
Liver Tests in the Assessment of
## Prognosis
The Model for End-Stage Liver Disease (MELD) is a
metric that has proven useful in predicting short-term
mortality in patients with liver disease. The MELD score
was developed prospectively using data from 231 cirrhotic
patients at 4 US medical centers who underwent elective
transjugular intrahepatic portosystemic shunt placement.
## 80
The MELD scoring system was developed using Cox pro-
portional hazards regression modeling to identify patients
whose predicted survival post procedure was 3 months or
less. It was subsequently found to be a reliable measure of
mortality risk in patients with end-stage liver disease and,
beginning in February 2002, was used in organ allocation
for liver transplantation.
## 81
The original MELD score con-
sisted of serum bilirubin, serum creatinine, and INR. In
patients with chronic liver disease, an increasing MELD
score is associated with increasing severity of hepatic
dysfunction and risk of death. Subsequent modifications in
the MELD score to incorporate the serum sodium (MELD-
Na) and, more recently, sex and serum albumin (MELD 3.0)
have provided greater accuracy in predicting mortality in
patients with end-stage liver disease.
## 82–84
The original Child score was developed by Child and
## Turcotte
## 85
in 1964 to risk stratify patients undergoing
portosystemic shunt surgery; it was subsequently modified
by Pugh
## 86
in 1972 and renamed the Child-Turcotte-Pugh
(CTP) score. The score used the following 5 parameters:
serum bilirubin, serum albumin, PT, ascites, and encepha-
lopathy. Each parameter is given a score of 1–3 points, so
the total CTP score ranges from 5 to 15 and determines the
class (A: 5–6, B: 7–9, and C: 10–15 points). The CTP clas-
sification has several shortcomings. It contains some sub-
jectively assessed parameters (ie, ascites and
encephalopathy) and is limited in its discriminatory ca-
pacity due to both ceiling and floor effects; for example, a
bilirubin of 4 mg/dL is assigned the same number of points
as a bilirubin of 25 mg/dL, even though the serum bilirubin
level is an important prognostic indicator. Finally, there is a
relatively poor correlation between the CTP score and
mortality. Nevertheless, the CTP score remains useful in
communicating the degree of decompensation of cirrhosis.
The VOCAL [Veterans Outcomes and Costs Associated
with Liver Disease]-Penn is a scoring system that estimates
the risk of 30-, 90-, and 180-day postoperative mortality
and 90-day postoperative decompensation in patients with
cirrhosis who undergo surgery.
## 87,88
It incorporates the
patient’s age, albumin, total bilirubin, platelet count, body
mass index, presence of MASLD, American Society of
Anesthesiologists class, surgery type, and whether the
surgery is emergent.
The Maddrey discriminant function is a prognostic tool
for patients with alcohol-associated hepatitis that is calcu-
lated using the serum bilirubin and PT. A Maddrey
discriminant function score >32 indicates severe alcohol-
associated hepatitis and identifies patients with a >50%
30-day mortality who may benefit from early intervention
with glucocorticoids.
## 89,90
The MELD score has supplanted
the Maddrey Discriminate Function as the preferred prog-
nostic tool for patients with alcohol-associated hepatitis.
The Lille model risk stratifies patients with alcohol-
associated hepatitis who are receiving systemic gluco-
corticoid treatment to predict which ones will not
improve with further therapy.
## 91
The values include the
albumin, creatinine, PT, and bilirubin, and patient’s age
on admission, along with the day-7 bilirubin. Subsequent
studies have found that using the day-4 bilirubin yields a
similar predictive value
## 92
; a Lille score >0.45 suggests
that a patient is not responding to glucocorticoid therapy
and should be considered for other management
strategies.
Immunoglobulin Levels in Liver Disease
In liver disease, derangements in immunoglobulins have
been well described for decades, most notably IgA elevation
associated with ALD,
## 93
IgM elevation in primary biliary
cholangitis, and IgG elevation in AIH. IgG is the most
abundant immunoglobulin in the body and is secreted by
plasma cells in response to a diverse array of inflammatory
stimuli. Liver disease is the primary cause of elevated
polyclonal IgG levels in a primary care setting and most
commonly is due to AIH or viral infections (particularly HIV
and HCV infections).
## 94
In AIH, a combination of molecular
mimicry and loss of tolerance to autoantigens results in an
inflammatory cascade, with polyclonal B-cell activation and
expansion. These activated plasma cells secrete a poly-
clonal IgG, which is detected in the serum. Elevated serum
IgG levels are seen in 85% of patients with AIH and are
included in the Revised Diagnostic Criteria for AIH.
## 95
IgG is
also clinically useful in determining disease activity and
treatment response and normalizes in biochemical remis-
sion. In chronic hepatitis C, the dysregulated production of
immunoglobulins (polyclonal IgG and polyclonal IgM) un-
derlies the extrahepatic manifestation of type III mixed
cryoglobulinemia. which presents with myalgias, weakness,
and purpura.
IgG4-related disease is a unique immune-mediated
disease that can affect nearly any organ system. Liver
involvement of IgG4-related disease most commonly pre-
sents with 1 of 2 phenotypes: a mass-like lesion mimicking
malignancy or findings similar to those of primary scle-
rosing cholangitis.
## 96
Elevation in serum IgG4 levels is seen
in the majority of patients with IgG4-related liver disease,
and 1 study found that levels >1.4 g/L were 90% sensitive
in the detection of IgG4-related sclerosing cholangitis. The
diagnosis of IgG4-related liver disease is based on charac-
teristic imaging findings (most frequently on magnetic
June 2026 Evaluation of Abnormal Liver Biochemical Test Results 1465
## REVIEWS

## AND

## PERSPECTIVES

resonance cholangiopancreatography), histopathology, and
serum IgG4 levels.
Liver Test Abnormalities in Specific
## Conditions
Drug-Induced Liver Injury
DILI encompasses a broad spectrum of pathology with a
range of serologic phenotypes and clinical consequences.
## 97,98
Broadly, DILI is any unintended injury to hepatic paren-
chyma and can be classified as intrinsic (direct), idiosyn-
cratic, or indirect. Intrinsic DILI occurs when a known safe
dosage of a drug is exceeded; acetaminophen hepatotoxicity
is the classic example. Intrinsic DILI tends to occur shortly
after the exposure. By contrast, idiosyncratic DILI is unpre-
dictable, generally not dose-dependent, and a result of unique
host–drug interactions. Indirect hepatotoxicity occurs when
the intended function of the drug may indirectly cause liver
injury, as in immune checkpoint inhibitor (ICI) hepatitis and
cholangitis (see section on Chemotherapy and Immune
## Checkpoint Inhibitor Toxicity).
The pattern of injury, or clinical phenotype, is based on
the relative elevation of liver biochemistries using the
previously discussed R ratio. Intrinsic DILI is most
frequently hepatocellular, whereas the pattern of idiosyn-
cratic injury varies widely.
Idiosyncratic DILI is most frequently caused by anti-
microbials, with HDS the second most common cause.
## 99
The epidemiology, however, is evolving, and the proportion
of cases of DILI attributed to HDS has increased from 9% in
2004–2007 to nearly 20% in 2010–2014.
## 100
The vast ma-
jority of supplements contain multiple ingredients, and a
single causative agent often cannot be determined. Single-
agent supplements most commonly implicated in liver
injury are bodybuilding products (eg, anabolic steroids),
which may result in cholestatic liver injury, and green tea
extracts, which may result in a mixed pattern of injury.
Turmeric supplement–related DILI also appears to be rising
in frequency, with a pattern of injury that is most
frequently hepatocellular and occurs with a latency of 1–4
months.
## 101
Despite the rising frequency of HDS-related
DILI, antimicrobials remain the most common cause and
are universally idiosyncratic in mechanism (Table 2).
Less frequent causes of idiosyncratic liver injury are 3
hydroxy-3-methylglutaryl coenzyme A reductase inhibitors
(ie, statins). After initiation of statin therapy, approximately
3% of patients will develop a mild elevation in amino-
transferases during the first year, which resolves sponta-
neously and is not thought to reflect clinically significant
liver toxicity. Idiosyncratic DILI related to statins, by
contrast, is uncommon and hepatocellular in only 50% of
instances, has a latency that ranges from 34 days to 10
years, and tends to be mild to moderate in severity and is
self-limited.
## 102,103
DILI is responsible for >50% of all ALF cases in the
United States and 11%–13% of these are non–acetamino-
phen-related.
## 16,25,104
Furthermore, among patients with
non–acetaminophen-related DILI, nearly 10% will die or
require liver transplantation within 6 months of presenta-
tion. Death or liver transplantation was more frequently
observed with acute hepatocellular injury and a high R
Table 2.Patterns of Drug-Induced Liver Injury
Pattern of injuryTime frame of injuryClinical featuresCommon drugs (mechanism)
Acute severe
hepatocellular (AST or
## ALT >10 × ULN)
DaysAbrupt and often dramatic rise in ALT/
## AST
May be accompanied by coagulopathy,
liver failure
Acetaminophen (direct); diclofenac,
isoniazid, pyrazinamide
## (idiosyncratic)
HepatocellularDays or weeks
Months or years
Rise in ALT/AST in days to weeks after
drug initiation.
Infrequently severe
A chronic presentation can occur over
years and can mimic AIH
Acetaminophen and high-dose
amiodarone (direct); carbamazepine,
chemotherapy agents, diclofenac,
fluoroquinolones, isoniazid,
minocycline, nitrofurantoin,
pyrazinamide, statins, sulfonamides
## (idiosyncratic)
CholestaticWeeks or monthsMarked elevations in alkaline
phosphatase, mild ALT elevation
May be accompanied by pruritus
Amoxicillin-clavulanate, anabolic
steroids, cefazolin, estrogens
## (idiosyncratic)
MixedDays to monthsElevation of both alkaline phosphatase
and ALT
Fluroquinolones, macrolides, phenytoin,
TMP-SMZ (idiosyncratic)
SteatosisMonths to yearsRadiologic steatosis with or without
aminotransferase elevation
Mechanisms vary from potentiating host
metabolic factors to direct impact on
mitochondrial dysfunction
## 101
Amiodarone, didanosine,
glucocorticoids, methotrexate,
stavudine, tamoxifen, valproic acid
TMP-SMZ, trimethoprim-sulfamethoxazole.
1466 Kwo et al Gastroenterology Vol. 170, Iss. 7
## REVIEWS

## AND

## PERSPECTIVES

ratio, INR, bilirubin, and MELD score. Even in the absence
of ALF, morbidity is substantial; nearly 20% patients will
develop chronic DILI, more commonly in those with
cholestatic liver injury.
## 105
Hospitalized and Critically Ill Patients
Hospitalized patients frequently develop abnormal liver
enzymes, although the exact epidemiology is not clearly
defined; liver injury can range from mild to severe. One
multicenter study determined the causes of severe hepa-
tocellular liver injury in hospitalized patients (defined as
ALT or AST >1000 U/mL) and found the top 3 causes of
acute severe liver injury to be ischemic hepatitis (42.7%),
pancreatobiliary disease (12.3%), and DILI (11.3%).
## 88
## The
epidemiology of cholestatic or mixed liver injury is less well
characterized, but 1 small study of an isolated alkaline
phosphatase elevation in hospitalized patients found the
most common causes to be malignancy (20%), cardiovas-
cular disease (16%), benign bone disease (8%), ALD (6%),
and biliary disease (6%).
## 106,107
In the critically ill patient, liver biochemistries are
frequently abnormal and may be directly related to the
underlying disease process (such as acute liver injury/ALF
and congestive hepatopathy), the management of illness
(eg, DILI, mechanical ventilation, and total parenteral
nutrition [TPN]), or an indirect insult due to illness (such as
ischemic hepatitis and the cholestasis of sepsis).
Severe hepatocellular liver injury in the ICU, particularly
an AST >10 × the ULN, is most frequently due to ischemic
hepatitis, which is seen in 2.5% of all ICU admissions and is
often associated with underlying passive congestion and
heart failure.
## 108
In the classic presentation of ischemic hep-
atitis, a rapid and dramatic rise in AST greater than ALT is
usually followed by a rapid decline, with AST falling more
rapidly than ALT. These enzyme elevations are often
accompanied by an elevation in lactate dehydrogenase.
Following the acute aminotransferase elevation, a rise in
bilirubin is often delayed. Because the initial insult is
generally hypoperfusion, renal function commonly worsens
in parallel, usually due to acute tubular necrosis. Ischemic
hepatitis in the ICU patient portends a poor outcome, with an
estimated 50% in-hospital mortality rate.
## 109,110
Cholestatic liver injury may be seen in up to one-third of
ICU patients
## 106
and is multifactorial in its underlying con-
tributors. Cholestasis in the critically ill patient is character-
ized by elevations in the alkaline phosphatase, GGT, and/or
bilirubin. The first step in evaluating cholestasis is to exclude
biliary obstruction with abdominal ultrasonography or mag-
netic resonance cholangiopancreatography. In the absence of
biliary obstruction, causes of cholestasis in the ICU include the
cholestasis of sepsis, DILI, and TPN-related liver injury.
Sepsis may impact hepatic function even in the absence
of direct infection of the liver (such as cholangitis or he-
patic abscess). Pro-inflammatory signals result in impaired
export of bile acids and conjugation of bilirubin and results
in elevated alkaline phosphatase and bilirubin levels. The
magnitude of bilirubin elevation in an ICU patient has
important prognostic implications, with a 27% in-hospital
mortality rate if the level is between 2 and 3 mg/dL and
48% if the level is >10 mg/dL.
## 107
With high bilirubin levels,
the delta bilirubin fraction may be formed by covalent binding
of conjugated bilirubin to albumin, which is not cleared by the
kidneys and contributes to prolonged jaundice.
## 108
TPN is another contributor to cholestatic liver injury in
the ICU and can cause a range of hepatobiliary injury phe-
notypes, from mild aminotransferase elevations to chole-
stasis to rapidly progressive fibrosis and even cirrhosis. TPN-
related hepatotoxicity is classically defined as a rise in bili-
rubin >2 mg/dL, with elevations in alkaline phosphatase,
GGT, and aminotransferases, and can occur as early as 2
weeks and as delayed as several months after the initiation of
TPN. It is more common in infants and children but can be
observed at any age. The most common pathologic finding is
cholestasis, mirroring the biochemical abnormalities.
## 109,110
Chemotherapy and Immune Checkpoint Inhibitor
## Toxicity
The liver is an important nexus for the metabolism of
agents used to treat solid and hematologic malignancies, and
liver toxicity is common. Liver-related consequences range
from DILI-like toxicity (ie, idiosyncratic, dose-dependent, and
indirect injury), short-term hematologic consequences (such
as veno-occlusive disease [VOD]), and complications that
develop over months to years (such as steatohepatitis and
nodular regenerative hyperplasia).
## 111
VOD, sinusoidal
obstruction syndrome (SOS), and ICI toxicity are patterns of
liver injury common in oncologic treatment.
VOD and SOS comprise a spectrum of disease most
commonly encountered after stem-cell transplantation
(SCT) in the treatment of hematologic malignancies. The
underlying pathophysiology involves activation of sinusoi-
dal endothelial cells, gaps in the sinusoidal barrier, and
accumulation of debris in the space of Disse, thereby
leading to impaired venous outflow and post-sinusoidal
portal hypertension. In the majority of cases, jaundice
with a bilirubin >2 mg/dL is a hallmark. Clinically, VOD/
SOS presents with jaundice, hepatomegaly, and ascites
within 3–4 weeks of myeloablative therapy. The incidence
of VOD/SOS after SCT is estimated to be approximately
5%–15%. In the setting of severe disease, defined as a
bilirubin of 5–8 mg/dL and aminotransferases >8 × the
ULN, the risk of mortality increases substantively, particu-
larly if accompanied by multiorgan failure.
## 112
Oxaliplatin, an alkylating agent commonly used in the
treatment of colorectal cancer, has also been associated
with sinusoidal injury, but without the short-term conse-
quences of severe injury, portal hypertension, and organ
failure. Over the long term, however, toxicity due to oxali-
platin (among several other agents, including azathioprine)
can result in nodular regenerative hyperplasia—another,
more insidious, form of portosinusoidal vascular disease
(or noncirrhotic portal hypertension).
## 113
Graft-vs-host disease (GVHD) affects 30%–70% of pa-
tients after SCT and is generally classified as acute or
chronic. GVHD impacts multiple organ systems, most
commonly the skin and gastrointestinal tract, but the liver
June 2026 Evaluation of Abnormal Liver Biochemical Test Results 1467
## REVIEWS

## AND

## PERSPECTIVES

may also be involved. In acute GVHD, severe, acute hepatitis
with a rapid rise in aminotransferases may develop within
the first 100 days after SCT. Liver involvement in chronic
GVHD is frequently observed as a slowly progressive
cholestatic liver disease, initially with elevated alkaline
phosphatase and GGT levels, followed by jaundice.
## 114
ICIs have transformed the treatment of advanced malig-
nancies by enhancing the anti-tumor immunologic response
via blockade of cytotoxic T-lymphocyte–associated-4 in-
hibitors (eg, ipilimumab), as well as inhibitors of programmed
cell death protein-1 (eg, pembrolizumab, nivolumab) and
programmed cell death-ligand A (eg, atezolizumab and dur-
valumab). By promoting anti-tumor immune activation, these
drugs may also cause adverse events related to loss of self-
tolerance, including injury to the liver and bile ducts.
## 115
ICI-related hepatitis can arise at any point during treat-
ment, most commonly between weeks 4 and 16, and is
frequently asymptomatic and found only on routine testing.
From 10% to 15% of patients undergoing treatment with
ICIs will experience liver-related toxicity. A hepatocellular
pattern is most common, occurring in approximately 50% of
cases, but mixed and cholestatic patterns of injury are also
observed. The patient must be evaluated for metastatic
disease spread, viral infection, and other drug-related injury.
In the setting of diagnostic uncertainty, a liver biopsy may be
helpful. The severity of ICI-hepatitis is graded using the
Common Terminology Criteria for Adverse Events,
## 116
version
5.0: grade 1, ALT or AST of 1–3 × ULN; grade 2, ALT or AST
of 3–5 × ULN; grade 3, ALT or AST of 5–20 × ULN; and grade
4, ALT or AST of >20 × ULN. Grades 1 to 2 toxicity may
resolve following treatment interruption, but more severe
toxicity generally requires treatment with glucocorticoids or
other immunomodulatory therapy.
## 117
## Pregnancy
Changes in serum biochemistries are common and
physiologic during pregnancy, most notably alkaline phos-
phatase elevation, which begins in the second trimester,
peaks (usually 2 × ULN) in the third trimester, and is
placental in origin. Liver dysfunction may occur in up to 5%
of pregnancies. Causes include new or exacerbation of
chronic underlying liver disease, such as viral hepatitis,
AIH, or cirrhosis, and conditions unique to pregnancy,
including hyperemesis gravidarum; hemolysis, elevated
liver enzymes, low platelets syndrome; and acute fatty liver
of pregnancy
## 118–121
(Table 3).
Table 3.Liver Disease During Pregnancy
DiseaseTrimesterClinical featuresManagement
## HG
a
First (wk 4–10)Affects 1% of all pregnancies
Persistent nausea/vomiting
Mild to moderate ALT/AST elevation
Supportive care
Pyridoxine, doxylamine-pyridoxine
## ICP
b
Late second-thirdAffects ∼1% of all pregnancies
## Pruritus
Elevated serum bile acids (>10 μmol/mL) with
or without elevated ALT/AST
Consideration of early delivery when bile acids
>40 μmol/mL
HELLP syndrome
c
>20 wk
Most commonly in
wk 28–36
Elevated ALT/AST (>70 U/L), elevated LDH,
low platelets
May be associated with hypertension and
proteinuria
Liver biochemistries normalize rapidly after
delivery
Management of coagulopathy or bleeding
complications and prompt delivery
Magnesium infusion
## AFLP
d
Late third (∼37 wk)Rare: 1 in 10,000–20,000 pregnancies
Presentation varies in severity: from mild and
nonspecific (ie, fatigue, nausea, and
anorexia) to acute liver failure
Swansea criteria
e
are used to diagnose AFLP
Prompt delivery
Careful monitoring due to postpartum risk of
hemorrhage, DIC, and renal failure
AFLP, acute fatty liver of pregnancy; DIC, disseminated intravascular coagulation; HELLP, hemolysis, elevated liver enzymes,
low platelet count; HG, hyperemesis gravidarum; ICP, intrahepatic cholestasis of pregnancy; LDH, lactate dehydrogenase.
a
During the first trimester, HG is a common cause of liver enzyme abnormalities. More than 50% of patients with HG have
mild or moderate elevations of the aminotransferases, which improve with resolution of HG and supportive care.
b
After 20 weeks’ gestation, the most common pregnancy-related causes of liver injury are ICP and HELLP syndrome. In ICP,
the degree of bile acid elevation is associated with the risk of perinatal mortality, and early delivery is considered when serum
bile acid levels are >40 μmol/mL.
## 119
c
Treatment of HELLP syndrome hinges on delivery, and in the vast majority of cases, liver enzymes and platelets normalize
within 48–72 hours.
d
AFLP is a rare but serious and potentially fatal liver-related complication of pregnancy.
## 120
In milder cases, it may be clinically
difficult to differentiate AFLP from other pregnancy-related diseases, HELLP syndrome in particular.
e
## The Swansea Criteria
## 121
are a validated metric for the diagnosis of AFLP and include 15 clinical, serologic, radiologic, and
pathologic indices, and AFLP is diagnosed if 6 criteria are met. As with HELLP syndrome, delivery is the cornerstone of
management; however, in contrast to HELLP syndrome, clinical improvement may lag for days to weeks.
1468 Kwo et al Gastroenterology Vol. 170, Iss. 7
## REVIEWS

## AND

## PERSPECTIVES

## Conclusions
By the middle of the 20th century, the standard liver
tests (ie, aminotransferases, alkaline phosphatase, and
bilirubin) plus tests of liver function (ie, albumin and PT)
had become available in routine practice and essential to
the diagnosis of liver disease. Subsequent advances
included the use of these tests to monitor response to
emerging therapies, detect hepatotoxicity of a growing
number of medications and supplements, and determine
prognosis in an expanding array of liver diseases. Over
time, these tests were incorporated into more sophisticated
prognostic formulas, some simple and some complex, and
into methods to predict the degree of hepatic fibrosis, ul-
timately the most important determinant of long-term
outcome in people with chronic liver disease. Well into
the 21st century, liver function tests (a partial misnomer)
remain at the heart of the practice of hepatology.
## References
- Devarbhavi H, Asrani SK, Arab JP, et al. Global burden
of liver disease: 2023 update. J Hepatol 2023;
## 79:516–537.
- World Health Organization. Global hepatitis report 2024:
action for access in low-and middle-income countries.
Available at: https://www.who.int/publications/i/item/
## 9789240091672. Accessed November 29, 2024.
- Rinella ME, Neuschwander-Tetri BA, Siddiqui MS, et al.
AASLD practice guidance on the clinical assessment
and management of nonalcoholic fatty liver disease.
## Hepatology 2023;77:1797–1835.
- Everson GT, Shiffman ML, Hoefs JC, et al. Quantitative
liver function tests improve the prediction of clinical
outcomes in chronic hepatitis C: results from the Hep-
atitis C Antiviral Long-term Treatment Against Cirrhosis
## Trial. Hepatology 2012;55:1019–1029.
- Clark JM, Brancati FL, Diehl AM. The prevalence and
etiology of elevated aminotransferase levels in the
## United States. Am J Gastroenterol 2003;98:960–967.
## 6. Ramakrishnan A, Velmurugan G, Somasundaram A,
et al. Prevalence of abnormal liver tests and liver fibrosis
among rural adults in low and middle-income country: a
cross-sectional study. EClinicalMedicine 2022;51:
## 101553.
- Kim WR, Flamm SL, Di Bisceglie AM, et al. Serum ac-
tivity of alanine aminotransferase (ALT) as an indicator
of health and disease. Hepatology 2008;47:1363–1370.
- Panteghini M. Aspartate aminotransferase isoenzymes.
## Clin Biochem 1990;23:311–319.
- Kwo PY, Cohen SM, Lim JK. ACG clinical guideline:
evaluation of abnormal liver chemistries. Am J Gastro-
enterol 2017;112:18–35.
- Tan EX, Huang DQ, Yee NTS, et al. Upper limit of normal
ALT levels in health and metabolic diseases: pooled
analysis of 423,355 individuals with bootstrap model-
ling. Aliment Pharmacol Ther 2024;59:984–992.
- Terrault NA, Lok ASF, McMahon BJ, et al. Update on
prevention, diagnosis, and treatment of chronic
hepatitis B: AASLD 2018 hepatitis B guidance. Hep-
atology 2018;67:1560–1599.
- McGinty G, Przemioslo R. Effects of excess high-normal
alanine aminotransferase levels in relation to new-onset
metabolic dysfunction-associated fatty liver disease:
clinical implications. World J Gastroenterol 2024;
## 30:3264–3267.
- Rej R. Measurement of aminotransferases: part 1.
Aspartate aminotransferase. Crit Rev Clin Lab Sci 1984;
## 21:99–186.
- Beste LA, Icardi M, Hunt CM, et al. Alanine amino-
transferase results differ by analyzer manufacturer in a
national integrated health setting, 2012-2017. Arch
## Pathol Lab Med 2020;144:748–754.
- Frapard T, Amaddeo G, Decavele M, et al. Herpes
simplex virus hepatitis in patients requiring intensive
care unit admission: a retrospective, multicenter,
observational study. Open Forum Infect Dis 2023;
## 10:ofad484.
- Breu AC, Patwardhan VR, Nayor J, et al. A multicenter
study into causes of severe acute liver injury. Clin
## Gastroenterol Hepatol 2019;17:1201–1203.
- Nyblom H, Berggren U, Balldin J, et al. High AST/ALT
ratio may indicate advanced alcoholic liver disease
rather than heavy drinking. Alcohol Alcohol 2004;
## 39:336–339.
- Abdallah MA, Singal AK. Mitochondrial dysfunction and
alcohol-associated liver disease: a novel pathway and
therapeutic target. Signal Transduct Target Ther 2020;
## 5:26.
- Crabb DW, Bataller R, Chalasani NP, et al. Standard
definitions and common data elements for clinical trials
in patients with alcoholic hepatitis: recommendation
from the NIAAA Alcoholic Hepatitis Consortia. Gastro-
enterology 2016;150:785–790.
- Roberts EA, Schilsky ML. Current and emerging issues
in Wilson’s disease. New Engl J Med 2023;
## 389:922–938.
- Sheth SG, Flamm SL, Gordon FD, et al. AST/ALT ratio
predicts cirrhosis in patients with chronic hepatitis C
virus infection. Am J Gastroenterol 1998;93:44–48.
- Vajro P, Lofrano MM, Fontanella A, et al. Immunoglob-
ulin complexed AST (“macro-AST”) in an asymptomatic
child with persistent hypertransaminasemia. J Pediatr
## Gastroenterol Nutr 1992;15:458–460.
- Poupon R. Liver alkaline phosphatase: a missing link
between choleresis and biliary inflammation. Hepatol-
ogy 2015;61:2080–2090.
- Goldberg A, Mack CL. Inherited cholestatic diseases in
the era of personalized medicine. Clin Liver Dis (Hobo-
ken) 2020;15:105–109.
- Hoofnagle JH, Björnsson ES. Drug-induced liver injury —
types and phenotypes. New Engl J Med 2019;
## 381:264–273.
- Mack CL, Adams D, Assis DN, et al. Diagnosis and
management of autoimmune hepatitis in adults and
children: 2019 practice guidance and guidelines from
the American Association for the Study of Liver Dis-
eases. Hepatology 2020;72:671–722.
June 2026 Evaluation of Abnormal Liver Biochemical Test Results 1469
## REVIEWS

## AND

## PERSPECTIVES

- Elmunzer BJ, Maranki JL, Gómez V, et al. ACG clinical
guideline: diagnosis and management of biliary stric-
tures. Am J Gastroenterol 2023;118:405–426.
- Danan G, Teschke R. Drug-induced liver injury: why is
the Roussel Uclaf Causality Assessment Method
(RUCAM) still used 25 years after its launch? Drug Saf
## 2018;41:735–743.
- Tan EH, Ling ZJ, Ang PS, et al. Comparison of labora-
tory threshold criteria in drug-induced liver injury
detection algorithms for use in pharmacovigilance.
## Pharmacoepidemiol Drug Saf 2020;29:1480–1488.
- Dufour DR, Lott JA, Nolte FS, et al. Diagnosis and
monitoring of hepatic injury. II. Recommendations for
use of laboratory tests in screening, diagnosis, and
monitoring. Clin Chem 2000;46:2050–2068.
- O’Shea RS, Davitkov P, Ko CW, et al. AGA clinical
practice guideline on the management of coagulation
disorders in patients with cirrhosis. Gastroenterology
## 2021;161:1615–1627.
- Chaiwala S, Wu GY. True liver function tests. In: Wu GY,
Israel J, eds. Diseases of the Liver and Bile Ducts: A
Practical Guide to Diagnosis and Treatment. New York:
## Humana Press, 1998:43–48.
- US Food and Drug Administration. Re: K142891. Trade/
Device Name: HEPATIQ. Available at: https://www.
accessdata.fda.gov/cdrh_docs/pdf14/K142891.pdf.
## Accessed March 19, 2026.
- Hassanein T, Keaveny AP, Mantry P, et al. Liver function
and portal-systemic shunting quantified by the oral
cholate challenge test and risk for large oesophageal
varices. Aliment Pharmacol Ther 2024;60:246–256.
- Jakobsson G, Talbäck M, Hammar N, et al. Biomarkers
for prediction of alcohol-related liver cirrhosis: a general
population-based Swedish study of 537,250 in-
dividuals. Clin Gastroenterol Hepatol 2025;23:816–824.
- Kowdley KV, Brown KE, Ahn J, et al. ACG clinical
guideline: hereditary hemochromatosis. Am J Gastro-
enterol 2019;114:1202–1218.
- Ferrao K, Ali N, Mehta KJ. Iron and iron-related proteins
in alcohol consumers: cellular and clinical aspects.
J Mol Med (Berl) 2022;100:1673–1689.
- Dongiovanni P, Fracanzani AL, Fargion S, et al. Iron in
fatty liver and in the metabolic syndrome: a promising
therapeutic target. J Hepatol 2011;55:920–932.
- Lim JK, Flamm SL, Singh S, et al. American Gastroen-
terological Association Institute Guideline on the role of
elastography in the evaluation of liver fibrosis. Gastro-
enterology 2017;152:1536–1543.
- Tapper EB, Saini SD, Sengupta N. Extensive testing or
focused testing of patients with elevated liver enzymes.
## J Hepatol 2017;66:313–319.
- Tapper EB, Lok AS. Use of liver imaging and biopsy in
clinical practice. N Engl J Med 2017;377:756–768.
- Allen CE, Yu X, Kozinetz CA, et al. Highly elevated
ferritin levels and the diagnosis of hemophagocytic
lymphohistiocytosis. Pediatr Blood Cancer 2008;
## 50:1227–1235.
- Sterling RK, Patel K, Duarte-Rojo A, et al. AASLD
practice guideline on blood-based noninvasive liver
disease assessment of hepatic fibrosis and steatosis.
## Hepatology 2025;81:321–357.
- Sanyal AJ, Shankar SS, Yates KP, et al. Diagnostic
performance of circulating biomarkers for non-alcoholic
steatohepatitis. Nat Med 2023;29:2656–2664.
- Bardella MT, Vecchi M, Conte D, et al. Chronic unex-
plained hypertransaminasemia may be caused by
occult celiac disease. Hepatology 1999;29:654–657.
- Volta U, De Franceschi L, Lari F, et al. Coeliac disease
hidden by cryptogenic hypertransaminasaemia. Lancet
## 1998;352:26–29.
- Abdo A, Meddings J, Swain M. Liver abnormalities in
celiac disease. Clin Gastroenterol Hepatol 2004;
## 2:107–112.
- Piantanida E, Ippolito S, Gallo D, et al. The interplay
between thyroid and liver: implications for clinical
practice. J Endocrinol Invest 2020;43:885–899.
- Scappaticcio L, Longo M, Maiorino MI, et al. Abnormal
liver blood tests in patients with hyperthyroidism: sys-
tematic review and meta-analysis. Thyroid 2021;
## 31:884–894.
- Mantovani A, Csermely A, Bilson J, et al. Association
between primary hypothyroidism and metabolic
dysfunction-associated steatotic liver disease: an
updated meta-analysis. Gut 2024;73:1554–1561.
- Alvarez AM, Mukherjee D. Liver abnormalities in cardiac
diseases and heart failure. Int J Angiol 2011;
## 20:135–142.
- Amernia B, Moosavy SH, Banookh F, et al. FIB-4, APRI,
and AST/ALT ratio compared to FibroScan for the
assessment of hepatic fibrosis in patients with non-
alcoholic fatty liver disease in Bandar Abbas, Iran.
BMC Gastroenterol 2021;21:453.
- Loaeza-del-Castillo A, Paz-Pineda F, Oviedo-
Cárdenas E, et al. AST to platelet ratio index (APRI) for
the noninvasive evaluation of liver fibrosis. Ann Hepatol
## 2008;7:350–357.
- Chen M, Guo C, Ouyang K, et al. Diagnostic role of the
fibrosis-4 index and nonalcoholic fatty liver disease
fibrosis score as a noninvasive tool for liver fibrosis
scoring. Medicine (Baltimore) 2024;103:e40214.
- Sterling RK, Lissen E, Clumeck N, et al. Development of
a simple noninvasive index to predict significant fibrosis
in patients with HIV/HCV coinfection. Hepatology 2006;
## 43:1317–1325.
- Park H, Yoon EL, Kim M, et al. Reappraisal of fibrosis-4
index and non-alcoholic fatty liver disease fibrosis score
for advanced fibrosis in average-risk population. Front
Med (Lausanne) 2022;3:1024836.
- Bera C, Hamdan-Perez N, Kosick HM-K. Validation of
FIB-4 for the diagnosis of liver cirrhosis in metabolic
dysfunction-associated steatotic liver disease. Can
## Liver J 2025;8:280–283.
- Shah AG, Lydecker A, Murray K, et al. Comparison of
noninvasive markers of fibrosis in patients with nonal-
coholic fatty liver disease. Clin Gastroenterol Hepatol
## 2009;7:1104–1112.
- Ratziu V, Massard J, Charlotte F, et al. Diagnostic value
of biochemical markers (FibroTest-FibroSURE) for the
1470 Kwo et al Gastroenterology Vol. 170, Iss. 7
## REVIEWS

## AND

## PERSPECTIVES

prediction of liver fibrosis in patients with non-alcoholic
fatty liver disease. BMC Gastroenterol 2006;6:6.
- Vali Y, Lee J, Boursier J, et al. FibroTest for evaluating
fibrosis in non-alcoholic fatty liver disease patients: a
systematic review and meta-analysis. J Clin Med 2021;
## 10:2415.
- Peta V, Sandler Y, Deckmyn O, et al. Diagnostic per-
formance of FibroTest-ActiTest, transient elastography,
and the fibrosis-4 index in patients with autoimmune
hepatitis using histological reference. World J Hepatol
## 2025;17:104534.
- Parkes J, Guha IN, Roderick P, et al. Enhanced Liver
Fibrosis (ELF) test accurately identifies liver fibrosis in
patients with chronic hepatitis C. J Viral Hepat 2011;
## 18:23–31.
- Vali Y, Lee J, Boursier J, et al. Enhanced liver fibrosis
test for the non-invasive diagnosis of fibrosis in patients
with NAFLD: a systematic review and meta-analysis.
## J Hepatol 2020;73:252–262.
- Kjaergaard M, Lindvig KP, Thorhauge KH, et al. Using
the ELF test, FIB-4 and NAFLD fibrosis score to screen
the population for liver disease. J Hepatol 2023;
## 79:277–286.
- Connoley D, Patel PJ, Hogan B, et al. The enhanced
liver fibrosis test maintains its diagnostic and prognostic
performance in alcohol-related liver disease: a cohort
study. BMC Gastroenterol 2021;21:268.
- Mayo MJ, Parkes J, Adams-Huet B, et al. Prediction of
clinical outcomes in primary biliary cirrhosis by serum
enhanced liver fibrosis assay. Hepatology 2008;
## 48:1549–1557.
- Wai CT, Greenson JK, Fontana RJ, et al. A simple
noninvasive index can predict both significant fibrosis
and cirrhosis in patients with chronic hepatitis C. Hep-
atology 2003;38:518–526.
- Lin ZH, Xin YN, Dong QJ, et al. Performance of the
aspartate aminotransferase-to-platelet ratio index for
the staging of hepatitis C-related fibrosis: an updated
meta-analysis. Hepatology 2011;53:726–736.
- Taneja S, Tohra S, Duseja A, et al. Noninvasive
assessment of liver fibrosis by transient elastography
and FIB4/APRI for prediction of treatment response in
chronic hepatitis C—an experience from a tertiary care
hospital. J Clin Exp Hepatol 2016;6:282–290.
- Vallet-Pichard A, Mallet V, Nalpas B, et al. FIB-4: an
inexpensive and accurate marker of fibrosis in HCV
infection. Comparison with liver biopsy and FibroTest.
## Hepatology 2007;46:32–36.
- Xiao G, Yang J, Yan L. Comparison of diagnostic ac-
curacy of aspartate aminotransferase to platelet ratio
index and fibrosis-4 index for detecting liver fibrosis in
adult patients with chronic hepatitis B virus infection: a
systemic review and meta-analysis. Hepatology 2015;
## 61:292–302.
- Eren F, Kaya E, Yilmaz Y. Accuracy of fibrosis-4 index
and non-alcoholic fatty liver disease fibrosis scores in
metabolic (dysfunction) associated fatty liver disease
according to body mass index: failure in the prediction
of advanced fibrosis in lean and morbidly obese in-
dividuals. Eur J Gastroenterol Hepatol 2022;34:98–103.
- McPherson S, Hardy T, Dufour JF, et al. Age as a
confounding factor for the accurate non-invasive diag-
nosis of advanced NAFLD fibrosis. Am J Gastroenterol
## 2017;112:740–751.
- Naveau S, Gaude G, Asnacios A, et al. Diagnostic and
prognostic values of noninvasive biomarkers of fibrosis
in patients with alcoholic liver disease. Hepatology
## 2009;49:97–105.
- Poynard T, Imbert-Bismut F, Munteanu M, et al. Over-
view of the diagnostic value of biochemical markers of
liver fibrosis (FibroTest, HCV FibroSure) and necrosis
(ActiTest) in patients with chronic hepatitis C. Comp
## Hepatol 2004;3:8.
- Poynard T, McHutchison J, Manns M, et al. Biochemical
surrogate markers of liver fibrosis and activity in a ran-
domized trial of peginterferon alfa-2b and ribavirin.
## Hepatology 2003;38:481–492.
- Sharma C, Cococcia S, Ellis N, et al. Systematic review:
accuracy of the enhanced liver fibrosis test for diag-
nosing advanced liver fibrosis and cirrhosis.
## J Gastroenterol Hepatol 2021;36:1788–1802.
- Thiele M, Madsen BS, Hansen JF, et al. Accuracy of the
enhanced liver fibrosis test vs FibroTest, elastography,
and indirect markers in detection of advanced fibrosis in
patients with alcoholic liver disease. Gastroenterology
## 2018;154:1369–1379.
- Kim BK, Tamaki N, Imajo K, et al. Head-to-head com-
parison between MEFIB, MAST, and FAST for detecting
stage 2 fibrosis or higher among patients with NAFLD.
## J Hepatol 2022;77:1482–1490.
- Malinchoc M, Kamath PS, Gordon FD, et al. A model to
predict poor survival in patients undergoing transjugular
intrahepatic portosystemic shunts. Hepatology 2000;
## 31:864–871.
- Kamath PS, Wiesner RH, Malinchoc M, et al. A model to
predict survival in patients with end-stage liver disease.
## Hepatology 2001;33:464–470.
- Biggins SW, Kim WR, Terrault NA, et al. Evidence-
based incorporation of serum sodium concentration
into MELD. Gastroenterology 2006;130:1652–1660.
- Dufour DR, Lott JA, Nolte FS, et al. Diagnosis and
monitoring of hepatic injury. II. Recommendations for
use of laboratory tests in screening, diagnosis, and
monitoring. Clin Chem 2000;46:2050–2068.
- Kim WR, Mannalithara A, Heimbach JK, et al. MELD 3.0:
The Model for End-Stage Liver Disease updated for the
modern era. Gastroenterology 2021;161:1887–1895.
- Child CG, Turcotte JG. Surgery and portal hyperten-
sion. In: Child CG, ed. The Liver and Portal Hyperten-
sion. Philadelphia: Saunders, 1964:50–64.
- Pugh RN, Murray-Lyon IM, Dawson JL, et al. Transec-
tion of the esophagus for bleeding oesophageal varices.
## Br J Surg 1973;60:646–649.
- Mahmud N, Fricker Z, Hubbard RA, et al. Risk predic-
tion models for post-operative mortality in patients with
cirrhosis. Hepatology 2021;73:204–218.
- Mahmud N, Fricker Z, Lewis JD, et al. Risk prediction
models for postoperative decompensation and infection
in patients with cirrhosis: a Veterans Affairs cohort study.
## Clin Gastroenterol Hepatol 2022;20:e1121–e1134.
June 2026 Evaluation of Abnormal Liver Biochemical Test Results 1471
## REVIEWS

## AND

## PERSPECTIVES

- Maddrey WC, Boitnott JK, Bedine MS, et al. Cortico-
steroid therapy of alcoholic hepatitis. Gastroenterology
## 1978;75:193–199.
- Ramond MJ, Poynard T, Rueff B, et al. A randomized
trial of prednisolone in patients with severe alcoholic
hepatitis. N Engl J Med 1992;326:507–512.
- Louvet A, Naveau S, Abdelnour M, et al. The Lille model:
a new tool for therapeutic strategy in patients with se-
vere alcoholic hepatitis treated with steroids. Hepatol-
ogy 2007;45:1348–1354.
- Garcia-Saenz-de-Sicilia M, Duvoor C, Altamirano J,
et al. A day-4 Lille model predicts response to cortico-
steroids and mortality in severe alcoholic hepatitis. Am J
## Gastroenterol 2017;112:306–315.
- Inamine T, Schnabl B. Immunoglobulin A and liver dis-
eases. J Gastroenterol 2018;53:691–700.
- Zhao EJ, Cheng CV, Mattman A, et al. Polyclonal hyper-
gammaglobulinaemia: assessment, clinical interpretation,
and management. Lancet Haematol 2021;8:e365–e375.
- Mieli-Vergani G, Vergani D, Czaja AJ, et al. Autoimmune
hepatitis. Nat Rev Dis Primers 2018;4:18017.
- Chen JH, Deshpande V. IgG4-related disease and the
liver. Gastroenterol Clin North Am 2017;46:195–216.
- Chalasani N, Bonkovsky HL, Fontana R, et al. Features
and outcomes of 899 patients with drug-induced liver
injury: the DILIN Prospective Study. Gastroenterology
## 2015;148:1340–1352.
- Halegoua-DeMarzio D, Navarro V, Ahmad J, et al. Liver
injury associated with turmeric–a growing problem: ten
cases from the Drug-Induced Liver Injury Network
[DILIN]. Am J Med 2023;136:200–206.
- Navarro VJ, Khan I, Bjornsson E, et al. Liver injury from
herbal and dietary supplements. Hepatology 2017;
## 65:363–373.
- Pham N, Benhammou JN. Statins in chronic liver dis-
ease: review of the literature and future role. Semin Liver
## Dis 2024;44:191–208.
- Satapathy SK, Kuwajima V, Nadelson J, et al. Drug-
induced fatty liver disease: an overview of pathogenesis
and management. Ann Hepatol 2015;14:789–806.
- Meurer L, Cohen SM. Drug-induced liver injury from
statins. Clin Liver Dis 2020;24:107–119.
- Fontana RJ, Hayashi PH, Gu J, et al. Idiosyncratic drug-
induced liver injury is associated with substantial
morbidity and mortality within 6 months from onset.
## Gastroenterology 2014;147:96–108.
- Lieberman D, Phillips D. “Isolated” elevation of alkaline
phosphatase: significance in hospitalized patients.
## J Clin Gastroenterol 1990;12:415–419.
- Tapper EB, Sengupta N, Bonder A. The incidence
and outcomes of ischemic hepatitis: a systematic
review with meta-analysis. Am J Med 2015;
## 128:1314–1321.
- Smith JE, Rockey DC. Update on ischemic hepatitis.
## Curr Opin Gastroenterol 2024;40:143–147.
- Horvatits T, Drolz A, Trauner M, et al. Liver injury and
failure in critical illness. Hepatology 2019;70:2204–2215.
- Weiss JS, Gautam A, Lauff JJ, et al. The clinical
importance of a protein-bound fraction of serum
bilirubin in patients with hyperbilirubinemia. N Engl J
## Med 1983;309:147–150.
- Guglielmi FW, Regano N, Mazzuoli S, et al. Cholestasis
induced by total parenteral nutrition. Clin Liver Dis 2008;
## 12:97–110.
- Naini BV, Lassman CR. Total parenteral nutrition ther-
apy and liver injury: a histopathologic study with clinical
correlation. Hum Pathol 2012;43:826–833.
- Dhanasekaran R, Kwo PY. The liver in oncology. Clin
## Liver Dis 2017;21:697–707.
- Mohty M, Malard F, Alaskar AS, et al. Diagnosis and
severity criteria for sinusoidal obstruction syndrome/
veno-occlusive disease in adult patients: a refined
classification from the European society for blood and
marrow transplantation (EBMT). Bone Marrow Trans-
plant 2023;58:749–754.
- Chun YS, Laurent A, Maru D, et al. Management of
chemotherapy-associated hepatotoxicity in colorectal
liver metastases. Lancet Oncol 2009;10:278–286.
- Jagasia MH, Greinix HT, Arora M, et al. National In-
stitutes of Health Consensus Development Project on
Criteria for Clinical Trials in Chronic Graft-versus-Host
Disease: I. The 2014 Diagnosis and Staging Working
Group report. Biol Blood Marrow Transplant 2015;
## 21:389–401.
- Cunningham M, Gupta R, Butler M. Checkpoint inhibitor
hepatotoxicity: pathogenesis and management. Hep-
atology 2024;79:198–212.
- U.S. Department of Health and Human Services.
Common Terminology Criteria for Adverse Events
(CTCAE), Version 5.0. Published November 27, 2017.
- Likhitsup A, Fontana RJ. Diagnosis and management of
immune mediated liver injury from checkpoint inhibitors.
## Curr Opin Gastroenterol 2024;40:164–171.
- Mufti AR, Reau N. Liver disease in pregnancy. Clin Liver
## Dis 2012;16:247–269.
- Lagon EP, Soffer MD, James KE, et al. Trends in
gestational age at delivery for intrahepatic cholestasis of
pregnancy and adoption of society guidelines. Am J
Obstet Gynecol MFM 2022;4:100709.
- Nelson DB, Byrne JJ, Cunningham FG. Acute fatty liver
of pregnancy. Clin Obstet Gynecol 2020;63:152–164.
- Ch’ng CL, Morgan M, Hainsworth I, et al. Prospective
study of liver dysfunction in pregnancy in Southwest
## Wales. Gut 2002;51:876–880.
## Received December 14, 2024. Accepted December 12, 2025.
## Correspondence
Address correspondence to: Paul Y. Kwo, MD, Division of Gastroenterology
and Hepatology, Department of Medicine, Stanford Medicine, 430 Broadway
Street, Pavilion C, 3rd Floor, Redwood City, California 94063. e-mail:
pkwo@stanford.edu.
## Acknowledgments
The authors thank Alison Sholock for her excellent editorial assistance.
Conflicts of interest
This author discloses the following: Paul Y. Kwo consults for Arbutus, Amgen,
Aligos, AusperBio, Gilead, GlaxoSmithKline, Novo Nordisk, HepQuant,
Inventiva, Mirum, Precision Biosciences, Tune Therapeutics, Salix, and
Takeda and receives grant support from AusperBio, Akero, 89Bio, Madrigal,
NovoNordisk, VirBio, and Ultragenyx. The remaining authors disclose no
conflicts.
1472 Kwo et al Gastroenterology Vol. 170, Iss. 7
## REVIEWS

## AND

## PERSPECTIVES