---
title: "Evaluation of Abnormal Liver Biochemical Test Results"
source: "https://www-sciencedirect-com.einsteinmed.idm.oclc.org/science/article/pii/S0016508526002398"
author:
published:
created: 2026-06-17
description: "Liver biochemical and function tests—alanine aminotransferase, aspartate aminotransferase, alkaline phosphatase, bilirubin, prothrombin time, and albu…"
tags:
  - "clippings"
---

## Keywords

Abnormal Liver Chemistry

Noninvasive Tests of Fibrosis

Cholestasis

Tests of Hepatic Function

## Abbreviations used in this paper

AIH

autoimmune hepatitis

ALD

alcohol-associated liver disease

ALF

acute liver failure

ALT

alanine aminotransferase

APRI

aspartate aminotransferase to platelet index

AUROC

area under the receiver operating characteristic curve

CTP

Child-Turcotte-Pugh

DILI

drug-induced liver injury

FIB-4

fibrosis-4 index

GGT

γ-glutamyl transpeptidase

GVHD

graft-vs-host disease

HBV

hepatitis B virus

HCV

hepatitis C virus

HDS

herbal and dietary supplement

ICI

immune checkpoint inhibitor

ICU

intensive care unit

INR

international normalized ratio of prothrombin

MASH

metabolic dysfunction–associated steatohepatitis

MASLD

metabolic dysfunction–associated liver disease

MELD

Model for End-Stage Liver Disease

PT

prothrombin time

SCT

stem-cell transplantation

SOS

sinusoidal obstruction syndrome

TPN

total parenteral nutrition

ULN

upper limit of normal

VOD

veno-occlusive disease

Chronic liver disease and its complications account for up to 2 million (4% of the total) deaths worldwide and are associated with substantial morbidity, reduced quality of life, and economic costs. In 2017, there were an estimated 122 million prevalent cases of cirrhosis worldwide. The major diseases contributing to this burden are alcohol-associated liver disease (ALD), which is the leading cause of cirrhosis globally; metabolic dysfunction–associated liver disease (MASLD), which affects approximately one-quarter of the world’s population and is the second leading cause of cirrhosis and liver transplantation in Europe and North America; and hepatitis B virus (HBV) and hepatitis C virus (HCV) infections. The number of newly infected viral hepatitis cases declined from 3 million in 2019 to 2.2 million in 2022, of which approximately 1.2 million were HBV related and 1 million were HCV related. Viral hepatitis remains a substantial health threat, with 1.3 million deaths annually, the vast majority of which (83%) are caused by HBV.

One explanation for the large burden of liver disease is chronic liver disease is often not recognized until advanced fibrosis or complications have developed. Earlier identification of chronic liver disease can allow for timely interventions and identify multisystem disorders, such as metabolic syndrome. To screen for and diagnose acute or chronic liver disease, clinicians order liver biochemical tests. The typical screening blood tests include alanine aminotransferase (ALT), aspartate aminotransferase (AST), alkaline phosphatase, bilirubin, prothrombin time (PT), and albumin. Historically, these laboratory tests have been called “liver function tests,” although only bilirubin, PT, and albumin assess hepatic function; the other tests reflect hepatic injury. Bilirubin, PT, and albumin may be affected by extrahepatic factors (ie, hemolysis, vitamin K deficiency, and nutritional deficiencies) and must therefore be interpreted in the appropriate clinical context. Although quantitative tests of hepatic function are available to clinicians, liver function per se is rarely assessed. “Abnormal” liver tests in the United States have been reported in approximately 7.9% of people tested, with a recent study of people in low- and middle-income countries reporting a similar frequency of 8%.

## Aminotransferases

The serum aminotransferases, ALT and AST, are markers of hepatocellular injury. These enzymes are important in protein synthesis as they catalyze the transfer of α-amino groups of alanine and aspartate to form pyruvate and oxaloacetate, respectively. ALT is localized primarily in the liver and resides in the cytosol, with a half-life in serum of approximately 47 hours. AST is more widely distributed within the liver as well as in cardiac, skeletal, kidney, and brain tissue, with a shorter serum half-life of 17 hours due to more rapid clearance. Therefore, AST is less specific than ALT for liver disease. Unlike ALT, AST resides predominantly in the mitochondria, with 80% of AST activity attributed to the mitochondrial isoenzyme and 20% residing in the cytosol as a different isoenzyme.

The definition of a truly normal ALT level has been variable. One guidance defined a normal serum ALT level as 29 to 33 U/L in males and 19 to 25 U/L in females in the absence of identifiable risk factors, with higher levels associated with higher rates of liver-related mortality. A recent pooled analysis of more than 400,000 individuals without metabolic disease found the 95 <sup>th</sup> percentile of upper limit of normal (ULN) for ALT to be 36 U/L in males and 28 U/L in females (32 U/L overall), with the overall ALT ULN rising to 40 U/L among those who were overweight and to 36 U/L in those with type 2 diabetes mellitus. Another guidance regarding the management of HBV infection defined a normal ALT as up to 35 U/L for men and 25 U/L for women. The clinical implications of adopting lower ALT cutoffs include earlier identification of patients at risk for chronic liver disease, particularly MASLD, and improved prediction of adverse liver outcomes. This approach may also increase the number of individuals classified as abnormal, with potential downstream effects on health care resource utilization and cost-effectiveness. However, significant liver disease can occur even with ALT levels that are considered “normal” by traditional standards. Numerous methods have been developed for measuring ALT and AST, and these methods typically rely on the measurement of lactate and malate in the aminotransferase reactions. Some variability exists in the commercial analyzer manufacturers, with 1 report from the Veterans Health Administration noting differences in ALT levels among 5 analyzers when ALT levels were compared with levels of 50 and 35 U/L in standardized samples.

Persistently (as with autoimmune hepatitis \[AIH\]) or intermittently (as with chronic HBV infection) elevated ALT and AST levels are categorized as hepatocellular injury or hepatitis. The degree of elevation of ALT and AST is helpful in distinguishing possible causes of liver diseases and should be contextualized with tests of liver function, including normalized ratio of prothrombin (INR) and bilirubin and with the clinical presentation. Elevations in ALT and AST have previously been classified as borderline (<2 × ULN), mild (2–5 × ULN), moderate (5–15 × ULN), severe (>15 × ULN), and massive (>10,000 U/L), and the urgency of evaluating elevations in ALT and AST is based on the degree of elevations.<sup>,</sup> Regardless of the degree of elevation of ALT and AST, the abnormal levels should be assessed in context, with a more urgent evaluation in the setting of an acute presentation, such as acute symptomatic hepatitis A, in which ALT and AST levels are generally at least 5–15 × ULN, or when the INR is prolonged or the bilirubin is elevated (). In the absence of precise cutoffs, aminotransferase elevations up to 5 times the ULN may be seen in commonly encountered liver diseases, including ALD, MASLD, and chronic viral hepatitis (see ).

![](https://ars-els-cdn-com.einsteinmed.idm.oclc.org/content/image/1-s2.0-S0016508526002398-gr1.jpg)

Download: Download high-res image (1MB)

An AST-to-ALT ratio can also be useful; a ratio >2 typically suggests ALD, which is explained by a deficiency of pyridoxine, with depression of ALT levels to a greater degree than AST.<sup>,</sup> An AST level >400 U/L is unlikely in ALD. An isolated elevated AST level may represent an artifact due to complexes of AST with immunoglobulins (macro-AST). AST levels will also be higher than ALT levels in an acute presentation or in cases of cirrhosis in patients with Wilson disease. This pattern, in combination with a low alkaline phosphatase level, is highly suggestive of Wilson disease. Finally, cirrhosis has been associated with increased AST-to-ALT ratio, and this pattern has been attributed to reduced hepatic clearance of AST, possible mitochondrial injury, and reduced ALT synthesis.

## Alkaline Phosphatase

Cholestasis is defined as an impairment in bile flow and is characterized by elevations in alkaline phosphatase and often bilirubin levels (although bilirubin may also be elevated in hepatocellular injury). The elevation in alkaline phosphatase may occur even if the impairment to bile flow is minor and insufficient to increase serum bilirubin levels. Alkaline phosphatase refers to a family of 4 isoenzymes that catalyze hydrolysis of phosphate esters that are found primarily in the canalicular membrane of hepatocytes, as well as in bone, placenta, intestine, and kidney. Fractionation of serum alkaline phosphatase may identify the source of alkaline phosphatase, with the most common being the liver and bone. Concurrent elevation of γ-glutamyl transpeptidase (GGT) or 5′-nucleotidase confirms a hepatic source of an isolated elevation of alkaline phosphatase. In adults, the alkaline phosphatase level is somewhat higher in men than women. In children, serum alkaline phosphatase levels are elevated and correlate with the rate of bone growth. Enzyme activity also increases in late pregnancy due to a placental source. In cholestatic liver disease, the increase in alkaline phosphatase is related to increased synthesis in the canalicular membrane, with translocation of the enzyme to the basal lateral surface of the hepatocyte and release into the serum.

Cholestasis may be extrahepatic or intrahepatic and may present as a chronic condition, as in primary biliary cholangitis, or acutely, as with a retained bile duct stone or cholangitis, in which there is an abrupt elevation in aminotransferase levels with gradual elevations in alkaline phosphatase and bilirubin (). People who present acutely with symptoms such as biliary pain with an elevated alkaline phosphatase should be assessed immediately for biliary obstruction. In addition, a large number of rare inherited causes of cholestasis present primarily in childhood and are caused by mutations in canalicular membrane proteins or other proteins involved in bile acid metabolism (see ).

![](https://ars-els-cdn-com.einsteinmed.idm.oclc.org/content/image/1-s2.0-S0016508526002398-gr2.jpg)

Download: Download high-res image (608KB)

Mixed hepatocellular-cholestatic patterns of liver injury occur when both ALT and AST levels and alkaline phosphatase levels are elevated. Mixed patterns are often seen in drug-induced livery injury (DILI), alcohol-associated hepatitis, extrahepatic biliary obstruction, acute viral hepatitis (including cytomegalovirus and Epstein-Barr virus hepatitis) and, rarely, autoimmune overlap syndromes, among other etiologies.<sup>,</sup>,,

The R ratio (R = \[ALT value / ALT ULN\] / \[alkaline phosphatase value/alkaline phosphatase ULN\]) quantifies whether the pattern of injury is predominantly hepatocellular, cholestatic, or mixed and was used originally in the assessment of DILI. An R ratio >5 suggests hepatocellular injury, <2 suggests cholestatic injury, and 2–5 represents a mixed pattern of hepatocellular injury, and the R ratio has been reported to have high specificity and negative predictive value in excluding severe DILI with positive results requiring clinical correlation.

## Tests of Liver Function

The albumin, PT, and total bilirubin are serum tests that reflect liver function. Albumin is a plasma protein, synthesized by the liver with a half-life of approximately 18 days; any acute illness may reduce its half-life. Albumin levels correlate with the severity of chronic liver disease, especially cirrhosis. The PT is a more sensitive reflection of liver function than albumin and assesses hemostasis, incorporating factors I, II, V, VII, and X. The PT may also be prolonged in people with vitamin K deficiency, taking anticoagulants, or with a coagulation disorder. A prolonged INR in the setting of cirrhosis does not reduce the risk of developing thrombosis, nor does a prolonged INR predict bleeding complications in the setting of cirrhosis.<sup>,</sup> Bilirubin is the breakdown product of hemoglobin, with the majority of bilirubin occurring in an unconjugated form and circulating bound to albumin. The serum bilirubin level is typically reported as total bilirubin, but can be fractionated into direct (conjugated) and indirect (unconjugated) fractions. Fractionation of bilirubin is most helpful when other liver chemistries are normal or near normal. Elevated conjugated bilirubin is present in both hepatocellular and cholestatic disorders and may reflect decreased excretion of bilirubin across the canalicular membrane or leakage of bilirubin from hepatocytes into the serum. Isolated elevation of the indirect bilirubin to a level no higher than 7 mg/dL is commonly due to Gilbert syndrome, but may be caused by hemolysis.

True tests of liver metabolic function are rarely performed in practice. The galactose elimination test is used as a quantitative measure of hepatic function to calculate functional hepatocyte mass. Similarly, the caffeine clearance test has been used historically to differentiate hepatocellular disease from biliary obstruction, but the test also has suboptimal specificity. Both the Hepatiq test for liver function, which uses single-photon emission computed tomography scanning, and the HepQuant assay, a quantitative test of liver function that assesses clearance of cholate, are newer available tests to measure liver function and have been demonstrated to predict clinical outcomes in those with advanced fibrosis due to hepatitis C.<sup>,</sup>

## Approach to the Patient With Abnormal Liver Tests

In the approach to abnormal liver tests, history taking should focus on risk factors for metabolic syndrome, alcohol use, risk factors for viral hepatitis, and current and recent use of medications, and herbal and dietary supplements (HDS). A history of recent infection; viral prodrome; inflammatory bowel disease; and pulmonary, cardiac, or hematologic disorders is important to obtain, and patients should be queried about a family history of liver disease. In patients presenting with jaundice, a history of hepatobiliary or gastrointestinal disease, including gallstones and inflammatory bowel disease, should be obtained. Extrahepatic causes of elevated liver biochemical tests may be considered, including thyroid disease, celiac disease, and heart failure (see section on ). In people presenting with cholestasis, light-colored stools (due to the lack of urobilinogen and its oxidation product stercobilin), pruritus, and bilirubinuria (dark urine) should be noted.

Specific findings of liver disease are shown in. Before initiating an evaluation for elevations in liver tests, the liver panel should be repeated, or confirmatory testing (eg, GGT for an isolated alkaline phosphatase elevation) should be obtained. Potentially hepatotoxic medicines and all alcohol use should be discontinued. If surreptitious alcohol use is suspected, a phosphatidylethanol level—a serum marker reflecting alcohol consumption within 30 days—may be ordered. In patients with mild elevations in aminotransferase levels, initial testing should include serologic testing for HBV and HCV, with confirmatory testing for HCV RNA if anti-HCV is positive, and an iron panel, including ferritin and transferrin saturation. ANA, anti-smooth muscle antibodies, ceruloplasmin, α1-antitrypsin level/phenotype may be ordered or deferred after a period of observation when elevations of aminotransferase levels are minimal (<2XULN). An elevated iron saturation or ferritin should be further assessed with *HFE* genotyping, although hereditary hemochromatosis, caused by excess iron absorption due to defective or impaired hepcidin function or synthesis, has low penetrance. Elevations in ferritin are far more commonly due to ALD or MASLD (up to one-third of those with MASLD); alcohol consumption increases ferritin synthesis by reducing hepcidin activity, and the metabolic syndrome alters the regulation of molecules involved in cellular iron export, leading to dysmetabolic iron overload syndrome.<sup>,</sup>

![](https://ars-els-cdn-com.einsteinmed.idm.oclc.org/content/image/1-s2.0-S0016508526002398-gr3.jpg)

Download: Download high-res image (491KB)

Abdominal imaging by ultrasonography can provide information about liver morphology, steatosis, biliary dilatation, and portal hypertension. Elastography may also provide information about fibrosis as well as steatosis in people with chronic liver disease, and can be obtained as a point-of-care test (vibration-controlled transient elastography) or with an ultrasonography (shear-wave elastography). If testing does not reveal an obvious etiology, then a period of observation for up to 3 months may be considered, especially when the elevations are minimal, as in people with an elevated AST or alkaline phosphatase level in the absence of other liver test abnormalities, or additional testing for AIH, Wilson disease, α1-antitrypsin deficiency, if not yet completed, and other extrahepatic causes may be pursued. When a period of observation is selected, it is important to ensure that advanced fibrosis is not present. The decision to perform extensive testing or focused testing in individuals with elevated liver enzymes has been examined using a microsimulation state-transition model. This model compared an extensive testing strategy with a focused evaluation and showed that the extensive testing had a lower cost with fewer physician visits; however, focused testing produced fewer false-positive results and more liver biopsies. In the referral setting, assessments for viral hepatitis, ALD, and MASLD have generally already been conducted. In a pooled analysis of prospective studies involving liver biopsy for undifferentiated liver disease, hemochromatosis, α1-antitrypsin deficiency, and Wilson disease were found in <1% of cases.

In people with more significant elevations of ALT and AST, a complete evaluation as well as an assessment for evidence of acute liver failure (ALF) should be performed (see ). The serum ferritin level is also an acute-phase reactant and is typically elevated in such cases, although extremely high ferritin values (>10,000 μg/L) should prompt an assessment for hemophagocytic lymphohistiocytosis.

The role of liver biopsy has evolved in clinical practice. Previously, liver biopsy was done commonly to assess the degree of fibrosis. Excellent noninvasive testing to assess for fibrosis (see section on ) and for biliary obstruction can now be performed serially to monitor progression of disease. Liver biopsy remains important, however, for determining the cause of otherwise unexplained chronically or acutely elevated liver biochemical tests. Liver biopsy may also be necessary to confirm the diagnosis of metabolic dysfunction–associated steatohepatitis (MASH)—although validated biomarkers for MASH are in development<sup>,</sup>—and is useful when a concomitant disease may be present, as in people with MASH and high levels of immune markers (MASH plus AIH). Liver biopsy may also confirm the presence of a specific disease, as suggested by the presence of Periodic acid-Schiff–positive globules in α1-antitrypsin deficiency, high hepatic copper levels in Wilson disease, and an elevated hepatic iron index in hemochromatosis.

## Extrahepatic Causes of Elevated Liver Tests

Several extrahepatic disorders are associated with liver biochemical test elevations. Celiac disease is an important cause of abnormal liver tests and has been found in 6%–9% of patients with elevated aminotransferase levels in the absence of other causes of liver disease.<sup>,</sup> Conversely, 15%–55% of patients with celiac disease have mild to moderate elevations in serum liver enzyme levels. The aminotransferase elevations are typically mild, with the ALT level usually exceeding the AST level. Alkaline phosphatase elevations can occur, and in severe cases the INR can be increased and albumin decreased due to intestinal malabsorption. IgA transglutaminase antibody while the patient is on a gluten-containing diet, combined with a serum IgA level to exclude IgA deficiency, is used to screen for celiac disease. In the majority of patients with celiac disease who adhere to a gluten-free diet, liver tests will normalize in up to several months.

Because both ALT and AST are present in skeletal muscle, rhabdomyolysis or another cause of muscle injury leads to elevated aminotransferase levels, with AST initially exceeding ALT in a ratio usually of at least 2:1. Rhabdomyolysis can be distinguished by markedly elevated creatine kinase levels as well as clinical findings of muscle tenderness.

Bone disease is a common cause of an alkaline phosphatase elevation. Increased serum alkaline phosphatase is commonly seen with osteomalacia secondary to vitamin D deficiency, osteoporosis, a recent fracture or orthopedic procedure, and Paget disease. Determining whether the increase in alkaline phosphatase is due to bone disease can be confirmed by an elevated bone alkaline phosphatase isoenzyme level or a normal GGT or 5′nucleotidase. A physiologic increase in alkaline phosphatase during pregnancy is due to placental production.

Hyperthyroidism is associated with abnormal liver tests in 55%– 60% of patients. Proposed mechanisms include oxidative stress, cholestasis, and enhanced osteoblastic activity.<sup>,</sup><sup>,</sup> Hypothyroidism is also associated with an increased frequency of elevated aminotransferase levels, due in part to an increased frequency of MASLD.

Congestive hepatopathy is another important cause of abnormal liver tests that should be considered in patients with right-sided heart failure or other causes of elevated central venous pressure, such as tricuspid regurgitation and constrictive pericarditis. Typically, aminotransferase levels are moderately elevated at 2–3 times the ULN; the total bilirubin is elevated, although rarely more than 3 mg/dL; the alkaline phosphatase is mildly elevated; and the INR is increased.

Hepatic ischemia from hypoperfusion, as in cardiogenic or septic shock and occasionally in respiratory failure, is a common cause of acute marked aminotransferase elevations in critically ill patients in the intensive care unit (ICU); the AST frequently exceeds 10 × the ULN. Such critically ill patients can also develop a cholestatic pattern of abnormal liver tests due to the so-called cholestasis of sepsis.

## Liver Tests in the Assessment of Hepatic Fibrosis

Traditionally, liver biopsy has been the gold standard for staging hepatic fibrosis, but its invasive nature, potential complications, sampling error, interobserver variability, and unsuitability for use as a large population screening tool have fueled the search for reliable noninvasive tests to assess liver fibrosis. Many serologic markers have been examined, and several panels have been developed that incorporate multiple markers to estimate the hepatic fibrosis stage (). Serologic markers can be direct markers of fibrosis that reflect extracellular matrix turnover (such as hyaluronic acid, tissue inhibitor of metalloproteinases, and N-terminal propeptide of collagen type III) or indirect markers that reflect hepatic dysfunction.

Table 1. Commonly Used Noninvasive Test Panels for Assessing Hepatic Fibrosis

<table><thead><tr><th rowspan="2">Noninvasive test</th><th rowspan="2">Liver disorder</th><th colspan="4">Fibrosis stage</th><th rowspan="2">Sensitivity, <em>%</em></th><th rowspan="2">Specificity, <em>%</em></th><th rowspan="2">PPV, <em>%</em></th><th rowspan="2">NPV, <em>%</em></th><th rowspan="2">AUROC</th><th rowspan="2">Components</th></tr><tr><th>F0–F1</th><th>F2–F4 (significant fibrosis)</th><th>F3–F4 (advanced fibrosis)</th><th>F4 (cirrhosis)</th></tr></thead><tbody><tr><td>APRI<sup>,</sup></td><td>HCV, HBV, MASLD</td><td>≤0.3</td><td>>0.7</td><td>>1.19</td><td>>2</td><td>84</td><td>88</td><td>66</td><td>95</td><td>0.568–0.803</td><td>AST, platelets</td></tr><tr><td>FIB-4 index,,,,</td><td>HCV, HBV, MASLD</td><td><1.30</td><td>≥1.45</td><td>>2.67<br>>3.25</td><td>≥3.48</td><td>71</td><td>85</td><td>50</td><td>93</td><td>0.802–0.896</td><td>Age, AST, ALT, platelets</td></tr><tr><td>FibroTest fibrosis score,,</td><td>HCV, HBV, MASLD, ALD, AIH</td><td><0.48</td><td>≥0.48</td><td>≥0.58</td><td>>0.74</td><td>92</td><td>97</td><td>60</td><td>89</td><td>0.75–0.86</td><td>Age, sex, total bilirubin, GGT, α2-macroglobulin, apolipoprotein A1, haptoglobin</td></tr><tr><td>Enhanced liver fibrosis test,,,,</td><td>HCV, MASLD, ALD, PBC</td><td><7.7</td><td>≥7.7</td><td>≥9.8</td><td>>11.3</td><td>65</td><td>86</td><td>75</td><td>79</td><td>0.75–0.85</td><td>Hyaluronic acid, amino-terminal propeptide of type III collagen, tissue inhibitor of matrix metalloproteinase-1</td></tr></tbody></table>

NPV, negative predictive value; PBC, primary biliary cholangitis; PPV, positive predictive values for advanced fibrosis.

a

Testing cohort.

b

Validation cohort.

The aspartate aminotransferase-to-platelet index (APRI) and the fibrosis-4 index (FIB-4) scores are simple calculations based on routinely collected laboratory data. The APRI includes the AST level and platelet count and has been validated in patients with chronic HCV infection, for which it has moderate predictive value.<sup>,</sup> In this patient population, the area under the receiver operating characteristic curve (AUROC) of the APRI for the diagnosis of significant fibrosis (F2–F4), advanced fibrosis (F3–F4), and cirrhosis (F4) were 0.77, 0.80, and 0.83, respectively. For example, an APRI threshold of 0.7 was 77% sensitive and 72% specific for significant fibrosis, and a threshold of 1.0 was 76%–89% sensitive and 72%–75% specific for cirrhosis. An APRI of >2 was 57% sensitive and 93% specific for cirrhosis.

The FIB-4 was developed from a cohort of patients with HIV/HCV co-infection and includes age, ALT, AST, and platelet count. A FIB-4 score <1.45 has a negative predictive value for excluding advanced fibrosis of 90% with a sensitivity of 70%. A cutoff of >3.25 has a positive predictive value of 65% and a specificity of 97% for advanced fibrosis. FIB-4 has better accuracy than APRI in predicting cirrhosis in patients with chronic HCV infection (AUROC 0.896 vs. 0.823, with transient elastography as the reference \[see \]).<sup>,</sup> In patients with chronic HBV infection, FIB-4 has been shown to have moderate sensitivity and accuracy, with an AUROC of 0.8165 (compared with 0.7347 for APRI). In patients with chronic HBV infection, a FIB-4 score <1.45 has a negative predictive value for excluding advanced fibrosis of 90% and a sensitivity of 70%. A value >3.25 has a positive predictive value of 65% and a specificity of 97% for advanced fibrosis. A FIB-4 score <1.3 is associated with a strong negative predictive value for advanced hepatic fibrosis and may be useful for the exclusion of advanced fibrosis in people with MASLD. The FIB-4 has moderate accuracy in detecting advanced fibrosis (bridging fibrosis or cirrhosis) in patients with MASLD, with an AUROC of 0.802, although it may be less useful in excluding advanced fibrosis in patients with MASLD who are lean or have severe (class III) obesity.<sup>,</sup> FIB-4 should be used with caution in patients younger than 35 years or older than 65 years, in whom the test has been found to be less reliable, although a revised cutoff of 2.0 has been found to improve performance in excluding advanced fibrosis in those older than 65 years.

FibroTest (licensed in the United States as FibroSURE, BioPredictive) uses a combination of 5 serum markers, including total bilirubin, GGT, α2-macroglobulin, haptoglobin, and apolipoprotein A1, along with age and sex, to assess fibrosis. The FibroTest-ActiTest (BioPredictive) includes ALT as an additional marker and provides an estimate of fibrosis and necroinflammatory activity in the liver. The test has been validated in patients with chronic HCV infection, chronic HBV infection, ALD, and MASLD.<sup>,</sup><sup>,</sup>,,, FibroTest should not be used in patients with Gilbert syndrome, hemolysis, biliary obstruction, or acute hepatitis because these conditions will result in an overestimation of the fibrosis stage.

The enhanced liver fibrosis test is a commercially available laboratory panel that uses the following 3 direct fibrosis markers: hyaluronic acid, tissue inhibitor of metalloproteinases, and N-terminal propeptide of collagen type III. It has been found to be accurate in detecting advanced fibrosis in ALD and MASLD.<sup>,</sup> In screening patients with ALD and MASLD for advanced fibrosis, a sequential test strategy of FIB-4 followed, in indeterminate cases, by enhanced liver fibrosis was found in 1 study to lead to the need for confirmatory liver stiffness measurement with transient elastography in few patients, while retaining a high rate of detected cases of advanced fibrosis.

Individuals with indeterminate results for advanced fibrosis should undergo further evaluation with transient elastography, magnetic resonance elastography, or liver biopsy unless there are clear imaging findings of cirrhosis. Combining a noninvasive test with elastography, such as FibroScan-AST and MRI-AST, may potentially improve the diagnostic accuracy of fibrosis estimation.

## Liver Tests in the Assessment of Prognosis

The Model for End-Stage Liver Disease (MELD) is a metric that has proven useful in predicting short-term mortality in patients with liver disease. The MELD score was developed prospectively using data from 231 cirrhotic patients at 4 US medical centers who underwent elective transjugular intrahepatic portosystemic shunt placement. The MELD scoring system was developed using Cox proportional hazards regression modeling to identify patients whose predicted survival post procedure was 3 months or less. It was subsequently found to be a reliable measure of mortality risk in patients with end-stage liver disease and, beginning in February 2002, was used in organ allocation for liver transplantation. The original MELD score consisted of serum bilirubin, serum creatinine, and INR. In patients with chronic liver disease, an increasing MELD score is associated with increasing severity of hepatic dysfunction and risk of death. Subsequent modifications in the MELD score to incorporate the serum sodium (MELD-Na) and, more recently, sex and serum albumin (MELD 3.0) have provided greater accuracy in predicting mortality in patients with end-stage liver disease.,,

The original Child score was developed by Child and Turcotte in 1964 to risk stratify patients undergoing portosystemic shunt surgery; it was subsequently modified by Pugh in 1972 and renamed the Child-Turcotte-Pugh (CTP) score. The score used the following 5 parameters: serum bilirubin, serum albumin, PT, ascites, and encephalopathy. Each parameter is given a score of 1–3 points, so the total CTP score ranges from 5 to 15 and determines the class (A: 5–6, B: 7–9, and C: 10–15 points). The CTP classification has several shortcomings. It contains some subjectively assessed parameters (ie, ascites and encephalopathy) and is limited in its discriminatory capacity due to both ceiling and floor effects; for example, a bilirubin of 4 mg/dL is assigned the same number of points as a bilirubin of 25 mg/dL, even though the serum bilirubin level is an important prognostic indicator. Finally, there is a relatively poor correlation between the CTP score and mortality. Nevertheless, the CTP score remains useful in communicating the degree of decompensation of cirrhosis.

The VOCAL \[Veterans Outcomes and Costs Associated with Liver Disease\]-Penn is a scoring system that estimates the risk of 30-, 90-, and 180-day postoperative mortality and 90-day postoperative decompensation in patients with cirrhosis who undergo surgery.<sup>,</sup> It incorporates the patient’s age, albumin, total bilirubin, platelet count, body mass index, presence of MASLD, American Society of Anesthesiologists class, surgery type, and whether the surgery is emergent.

The Maddrey discriminant function is a prognostic tool for patients with alcohol-associated hepatitis that is calculated using the serum bilirubin and PT. A Maddrey discriminant function score >32 indicates severe alcohol-associated hepatitis and identifies patients with a >50% 30-day mortality who may benefit from early intervention with glucocorticoids.<sup>,</sup> The MELD score has supplanted the Maddrey Discriminate Function as the preferred prognostic tool for patients with alcohol-associated hepatitis.

The Lille model risk stratifies patients with alcohol-associated hepatitis who are receiving systemic glucocorticoid treatment to predict which ones will not improve with further therapy. The values include the albumin, creatinine, PT, and bilirubin, and patient’s age on admission, along with the day-7 bilirubin. Subsequent studies have found that using the day-4 bilirubin yields a similar predictive value; a Lille score >0.45 suggests that a patient is not responding to glucocorticoid therapy and should be considered for other management strategies.

## Immunoglobulin Levels in Liver Disease

In liver disease, derangements in immunoglobulins have been well described for decades, most notably IgA elevation associated with ALD, IgM elevation in primary biliary cholangitis, and IgG elevation in AIH. IgG is the most abundant immunoglobulin in the body and is secreted by plasma cells in response to a diverse array of inflammatory stimuli. Liver disease is the primary cause of elevated polyclonal IgG levels in a primary care setting and most commonly is due to AIH or viral infections (particularly HIV and HCV infections). In AIH, a combination of molecular mimicry and loss of tolerance to autoantigens results in an inflammatory cascade, with polyclonal B-cell activation and expansion. These activated plasma cells secrete a polyclonal IgG, which is detected in the serum. Elevated serum IgG levels are seen in 85% of patients with AIH and are included in the Revised Diagnostic Criteria for AIH. IgG is also clinically useful in determining disease activity and treatment response and normalizes in biochemical remission. In chronic hepatitis C, the dysregulated production of immunoglobulins (polyclonal IgG and polyclonal IgM) underlies the extrahepatic manifestation of type III mixed cryoglobulinemia. which presents with myalgias, weakness, and purpura.

IgG4-related disease is a unique immune-mediated disease that can affect nearly any organ system. Liver involvement of IgG4-related disease most commonly presents with 1 of 2 phenotypes: a mass-like lesion mimicking malignancy or findings similar to those of primary sclerosing cholangitis. Elevation in serum IgG4 levels is seen in the majority of patients with IgG4-related liver disease, and 1 study found that levels >1.4 g/L were 90% sensitive in the detection of IgG4-related sclerosing cholangitis. The diagnosis of IgG4-related liver disease is based on characteristic imaging findings (most frequently on magnetic resonance cholangiopancreatography), histopathology, and serum IgG4 levels.

## Liver Test Abnormalities in Specific Conditions

### Drug-Induced Liver Injury

DILI encompasses a broad spectrum of pathology with a range of serologic phenotypes and clinical consequences.<sup>,</sup> Broadly, DILI is any unintended injury to hepatic parenchyma and can be classified as intrinsic (direct), idiosyncratic, or indirect. Intrinsic DILI occurs when a known safe dosage of a drug is exceeded; acetaminophen hepatotoxicity is the classic example. Intrinsic DILI tends to occur shortly after the exposure. By contrast, idiosyncratic DILI is unpredictable, generally not dose-dependent, and a result of unique host–drug interactions. Indirect hepatotoxicity occurs when the intended function of the drug may indirectly cause liver injury, as in immune checkpoint inhibitor (ICI) hepatitis and cholangitis (see section on ).

The pattern of injury, or clinical phenotype, is based on the relative elevation of liver biochemistries using the previously discussed R ratio. Intrinsic DILI is most frequently hepatocellular, whereas the pattern of idiosyncratic injury varies widely.

Idiosyncratic DILI is most frequently caused by antimicrobials, with HDS the second most common cause. The epidemiology, however, is evolving, and the proportion of cases of DILI attributed to HDS has increased from 9% in 2004–2007 to nearly 20% in 2010–2014. The vast majority of supplements contain multiple ingredients, and a single causative agent often cannot be determined. Single-agent supplements most commonly implicated in liver injury are bodybuilding products (eg, anabolic steroids), which may result in cholestatic liver injury, and green tea extracts, which may result in a mixed pattern of injury. Turmeric supplement–related DILI also appears to be rising in frequency, with a pattern of injury that is most frequently hepatocellular and occurs with a latency of 1–4 months. Despite the rising frequency of HDS-related DILI, antimicrobials remain the most common cause and are universally idiosyncratic in mechanism ().

Table 2. Patterns of Drug-Induced Liver Injury

| Pattern of injury | Time frame of injury | Clinical features | Common drugs (mechanism) |
| --- | --- | --- | --- |
| Acute severe hepatocellular (AST or ALT >10 × ULN) | Days | Abrupt and often dramatic rise in ALT/AST   May be accompanied by coagulopathy, liver failure | Acetaminophen (direct); diclofenac, isoniazid, pyrazinamide (idiosyncratic) |
| Hepatocellular | Days or weeks   Months or years | Rise in ALT/AST in days to weeks after drug initiation.   Infrequently severe   A chronic presentation can occur over years and can mimic AIH | Acetaminophen and high-dose amiodarone (direct); carbamazepine, chemotherapy agents, diclofenac, fluoroquinolones, isoniazid, minocycline, nitrofurantoin, pyrazinamide, statins, sulfonamides (idiosyncratic) |
| Cholestatic | Weeks or months | Marked elevations in alkaline phosphatase, mild ALT elevation   May be accompanied by pruritus | Amoxicillin-clavulanate, anabolic steroids, cefazolin, estrogens (idiosyncratic) |
| Mixed | Days to months | Elevation of both alkaline phosphatase and ALT | Fluroquinolones, macrolides, phenytoin, TMP-SMZ (idiosyncratic) |
| Steatosis | Months to years | Radiologic steatosis with or without aminotransferase elevation   Mechanisms vary from potentiating host metabolic factors to direct impact on mitochondrial dysfunction | Amiodarone, didanosine, glucocorticoids, methotrexate, stavudine, tamoxifen, valproic acid |

TMP-SMZ, trimethoprim-sulfamethoxazole.

Less frequent causes of idiosyncratic liver injury are 3 hydroxy-3-methylglutaryl coenzyme A reductase inhibitors (ie, statins). After initiation of statin therapy, approximately 3% of patients will develop a mild elevation in aminotransferases during the first year, which resolves spontaneously and is not thought to reflect clinically significant liver toxicity. Idiosyncratic DILI related to statins, by contrast, is uncommon and hepatocellular in only 50% of instances, has a latency that ranges from 34 days to 10 years, and tends to be mild to moderate in severity and is self-limited.<sup>,</sup>

DILI is responsible for >50% of all ALF cases in the United States and 11%–13% of these are non–acetaminophen-related.<sup>,</sup><sup>,</sup> Furthermore, among patients with non–acetaminophen-related DILI, nearly 10% will die or require liver transplantation within 6 months of presentation. Death or liver transplantation was more frequently observed with acute hepatocellular injury and a high R ratio, INR, bilirubin, and MELD score. Even in the absence of ALF, morbidity is substantial; nearly 20% patients will develop chronic DILI, more commonly in those with cholestatic liver injury.

### Hospitalized and Critically Ill Patients

Hospitalized patients frequently develop abnormal liver enzymes, although the exact epidemiology is not clearly defined; liver injury can range from mild to severe. One multicenter study determined the causes of severe hepatocellular liver injury in hospitalized patients (defined as ALT or AST >1000 U/mL) and found the top 3 causes of acute severe liver injury to be ischemic hepatitis (42.7%), pancreatobiliary disease (12.3%), and DILI (11.3%). The epidemiology of cholestatic or mixed liver injury is less well characterized, but 1 small study of an isolated alkaline phosphatase elevation in hospitalized patients found the most common causes to be malignancy (20%), cardiovascular disease (16%), benign bone disease (8%), ALD (6%), and biliary disease (6%).<sup>,</sup>

In the critically ill patient, liver biochemistries are frequently abnormal and may be directly related to the underlying disease process (such as acute liver injury/ALF and congestive hepatopathy), the management of illness (eg, DILI, mechanical ventilation, and total parenteral nutrition \[TPN\]), or an indirect insult due to illness (such as ischemic hepatitis and the cholestasis of sepsis).

Severe hepatocellular liver injury in the ICU, particularly an AST >10 × the ULN, is most frequently due to ischemic hepatitis, which is seen in 2.5% of all ICU admissions and is often associated with underlying passive congestion and heart failure. In the classic presentation of ischemic hepatitis, a rapid and dramatic rise in AST greater than ALT is usually followed by a rapid decline, with AST falling more rapidly than ALT. These enzyme elevations are often accompanied by an elevation in lactate dehydrogenase. Following the acute aminotransferase elevation, a rise in bilirubin is often delayed. Because the initial insult is generally hypoperfusion, renal function commonly worsens in parallel, usually due to acute tubular necrosis. Ischemic hepatitis in the ICU patient portends a poor outcome, with an estimated 50% in-hospital mortality rate.<sup>,</sup>

Cholestatic liver injury may be seen in up to one-third of ICU patients and is multifactorial in its underlying contributors. Cholestasis in the critically ill patient is characterized by elevations in the alkaline phosphatase, GGT, and/or bilirubin. The first step in evaluating cholestasis is to exclude biliary obstruction with abdominal ultrasonography or magnetic resonance cholangiopancreatography. In the absence of biliary obstruction, causes of cholestasis in the ICU include the cholestasis of sepsis, DILI, and TPN-related liver injury.

Sepsis may impact hepatic function even in the absence of direct infection of the liver (such as cholangitis or hepatic abscess). Pro-inflammatory signals result in impaired export of bile acids and conjugation of bilirubin and results in elevated alkaline phosphatase and bilirubin levels. The magnitude of bilirubin elevation in an ICU patient has important prognostic implications, with a 27% in-hospital mortality rate if the level is between 2 and 3 mg/dL and 48% if the level is >10 mg/dL. With high bilirubin levels, the delta bilirubin fraction may be formed by covalent binding of conjugated bilirubin to albumin, which is not cleared by the kidneys and contributes to prolonged jaundice.

TPN is another contributor to cholestatic liver injury in the ICU and can cause a range of hepatobiliary injury phenotypes, from mild aminotransferase elevations to cholestasis to rapidly progressive fibrosis and even cirrhosis. TPN-related hepatotoxicity is classically defined as a rise in bilirubin >2 mg/dL, with elevations in alkaline phosphatase, GGT, and aminotransferases, and can occur as early as 2 weeks and as delayed as several months after the initiation of TPN. It is more common in infants and children but can be observed at any age. The most common pathologic finding is cholestasis, mirroring the biochemical abnormalities.<sup>,</sup>

### Chemotherapy and Immune Checkpoint Inhibitor Toxicity

The liver is an important nexus for the metabolism of agents used to treat solid and hematologic malignancies, and liver toxicity is common. Liver-related consequences range from DILI-like toxicity (ie, idiosyncratic, dose-dependent, and indirect injury), short-term hematologic consequences (such as veno-occlusive disease \[VOD\]), and complications that develop over months to years (such as steatohepatitis and nodular regenerative hyperplasia). VOD, sinusoidal obstruction syndrome (SOS), and ICI toxicity are patterns of liver injury common in oncologic treatment.

VOD and SOS comprise a spectrum of disease most commonly encountered after stem-cell transplantation (SCT) in the treatment of hematologic malignancies. The underlying pathophysiology involves activation of sinusoidal endothelial cells, gaps in the sinusoidal barrier, and accumulation of debris in the space of Disse, thereby leading to impaired venous outflow and post-sinusoidal portal hypertension. In the majority of cases, jaundice with a bilirubin >2 mg/dL is a hallmark. Clinically, VOD/SOS presents with jaundice, hepatomegaly, and ascites within 3–4 weeks of myeloablative therapy. The incidence of VOD/SOS after SCT is estimated to be approximately 5%–15%. In the setting of severe disease, defined as a bilirubin of 5–8 mg/dL and aminotransferases >8 × the ULN, the risk of mortality increases substantively, particularly if accompanied by multiorgan failure.

Oxaliplatin, an alkylating agent commonly used in the treatment of colorectal cancer, has also been associated with sinusoidal injury, but without the short-term consequences of severe injury, portal hypertension, and organ failure. Over the long term, however, toxicity due to oxaliplatin (among several other agents, including azathioprine) can result in nodular regenerative hyperplasia—another, more insidious, form of portosinusoidal vascular disease (or noncirrhotic portal hypertension).

Graft-vs-host disease (GVHD) affects 30%–70% of patients after SCT and is generally classified as acute or chronic. GVHD impacts multiple organ systems, most commonly the skin and gastrointestinal tract, but the liver may also be involved. In acute GVHD, severe, acute hepatitis with a rapid rise in aminotransferases may develop within the first 100 days after SCT. Liver involvement in chronic GVHD is frequently observed as a slowly progressive cholestatic liver disease, initially with elevated alkaline phosphatase and GGT levels, followed by jaundice.

ICIs have transformed the treatment of advanced malignancies by enhancing the anti-tumor immunologic response via blockade of cytotoxic T-lymphocyte–associated-4 inhibitors (eg, ipilimumab), as well as inhibitors of programmed cell death protein-1 (eg, pembrolizumab, nivolumab) and programmed cell death-ligand A (eg, atezolizumab and durvalumab). By promoting anti-tumor immune activation, these drugs may also cause adverse events related to loss of self-tolerance, including injury to the liver and bile ducts.

ICI-related hepatitis can arise at any point during treatment, most commonly between weeks 4 and 16, and is frequently asymptomatic and found only on routine testing. From 10% to 15% of patients undergoing treatment with ICIs will experience liver-related toxicity. A hepatocellular pattern is most common, occurring in approximately 50% of cases, but mixed and cholestatic patterns of injury are also observed. The patient must be evaluated for metastatic disease spread, viral infection, and other drug-related injury. In the setting of diagnostic uncertainty, a liver biopsy may be helpful. The severity of ICI-hepatitis is graded using the Common Terminology Criteria for Adverse Events, version 5.0: grade 1, ALT or AST of 1–3 × ULN; grade 2, ALT or AST of 3–5 × ULN; grade 3, ALT or AST of 5–20 × ULN; and grade 4, ALT or AST of >20 × ULN. Grades 1 to 2 toxicity may resolve following treatment interruption, but more severe toxicity generally requires treatment with glucocorticoids or other immunomodulatory therapy.

### Pregnancy

Changes in serum biochemistries are common and physiologic during pregnancy, most notably alkaline phosphatase elevation, which begins in the second trimester, peaks (usually 2 × ULN) in the third trimester, and is placental in origin. Liver dysfunction may occur in up to 5% of pregnancies. Causes include new or exacerbation of chronic underlying liver disease, such as viral hepatitis, AIH, or cirrhosis, and conditions unique to pregnancy, including hyperemesis gravidarum; hemolysis, elevated liver enzymes, low platelets syndrome; and acute fatty liver of pregnancy,,, ().

Table 3. Liver Disease During Pregnancy

| Disease | Trimester | Clinical features | Management |
| --- | --- | --- | --- |
| HG | First (wk 4–10) | Affects 1% of all pregnancies   Persistent nausea/vomiting   Mild to moderate ALT/AST elevation | Supportive care   Pyridoxine, doxylamine-pyridoxine |
| ICP | Late second-third | Affects ∼1% of all pregnancies   Pruritus   Elevated serum bile acids (>10 μmol/mL) with or without elevated ALT/AST | Consideration of early delivery when bile acids >40 μmol/mL |
| HELLP syndrome | \>20 wk   Most commonly in wk 28–36 | Elevated ALT/AST (>70 U/L), elevated LDH, low platelets   May be associated with hypertension and proteinuria   Liver biochemistries normalize rapidly after delivery | Management of coagulopathy or bleeding complications and prompt delivery   Magnesium infusion |
| AFLP | Late third (∼37 wk) | Rare: 1 in 10,000–20,000 pregnancies   Presentation varies in severity: from mild and nonspecific (ie, fatigue, nausea, and anorexia) to acute liver failure   Swansea criteria are used to diagnose AFLP | Prompt delivery   Careful monitoring due to postpartum risk of hemorrhage, DIC, and renal failure |

AFLP, acute fatty liver of pregnancy; DIC, disseminated intravascular coagulation; HELLP, hemolysis, elevated liver enzymes, low platelet count; HG, hyperemesis gravidarum; ICP, intrahepatic cholestasis of pregnancy; LDH, lactate dehydrogenase.

a

During the first trimester, HG is a common cause of liver enzyme abnormalities. More than 50% of patients with HG have mild or moderate elevations of the aminotransferases, which improve with resolution of HG and supportive care.

b

After 20 weeks’ gestation, the most common pregnancy-related causes of liver injury are ICP and HELLP syndrome. In ICP, the degree of bile acid elevation is associated with the risk of perinatal mortality, and early delivery is considered when serum bile acid levels are >40 μmol/mL.

c

Treatment of HELLP syndrome hinges on delivery, and in the vast majority of cases, liver enzymes and platelets normalize within 48–72 hours.

d

AFLP is a rare but serious and potentially fatal liver-related complication of pregnancy. In milder cases, it may be clinically difficult to differentiate AFLP from other pregnancy-related diseases, HELLP syndrome in particular.

e

The Swansea Criteria are a validated metric for the diagnosis of AFLP and include 15 clinical, serologic, radiologic, and pathologic indices, and AFLP is diagnosed if 6 criteria are met. As with HELLP syndrome, delivery is the cornerstone of management; however, in contrast to HELLP syndrome, clinical improvement may lag for days to weeks.

## Conclusions

By the middle of the 20th century, the standard liver tests (ie, aminotransferases, alkaline phosphatase, and bilirubin) plus tests of liver function (ie, albumin and PT) had become available in routine practice and essential to the diagnosis of liver disease. Subsequent advances included the use of these tests to monitor response to emerging therapies, detect hepatotoxicity of a growing number of medications and supplements, and determine prognosis in an expanding array of liver diseases. Over time, these tests were incorporated into more sophisticated prognostic formulas, some simple and some complex, and into methods to predict the degree of hepatic fibrosis, ultimately the most important determinant of long-term outcome in people with chronic liver disease. Well into the 21st century, liver function tests (a partial misnomer) remain at the heart of the practice of hepatology.

## Acknowledgments

The authors thank Alison Sholock for her excellent editorial assistance.

## References

**Conflicts of interest** This author discloses the following: Paul Y. Kwo consults for Arbutus, Amgen, Aligos, AusperBio, Gilead, GlaxoSmithKline, Novo Nordisk, HepQuant, Inventiva, Mirum, Precision Biosciences, Tune Therapeutics, Salix, and Takeda and receives grant support from AusperBio, Akero, 89Bio, Madrigal, NovoNordisk, VirBio, and Ultragenyx. The remaining authors disclose no conflicts.

[View Abstract](https://www-sciencedirect-com.einsteinmed.idm.oclc.org/science/article/abs/pii/S0016508526002398)

[^1]: Chronic liver disease and its complications account for up to 2 million (4% of the total) deaths worldwide and are associated with substantial morbidity, reduced quality of life, and economic costs. In 2017, there were an estimated 122 million prevalent cases of cirrhosis worldwide. The major diseases contributing to this burden are alcohol-associated liver disease (ALD), which is the leading cause of cirrhosis globally; metabolic dysfunction–associated liver disease (MASLD), which affects approximately one-quarter of the world’s population and is the second leading cause of cirrhosis and liver transplantation in Europe and North America; and hepatitis B virus (HBV) and hepatitis C virus (HCV) infections. The number of newly infected viral hepatitis cases declined from 3 million in 2019 to 2.2 million in 2022, of which approximately 1.2 million were HBV related and 1 million were HCV related. Viral hepatitis remains a substantial health threat, with 1.3 million deaths annually, the vast majority of which (83%) are caused by HBV.

One explanation for the large burden of liver disease is chronic liver disease is often not recognized until advanced fibrosis or complications have developed. Earlier identification of chronic liver disease can allow for timely interventions and identify multisystem disorders, such as metabolic syndrome. To screen for and diagnose acute or chronic liver disease, clinicians order liver biochemical tests. The typical screening blood tests include alanine aminotransferase (ALT), aspartate aminotransferase (AST), alkaline phosphatase, bilirubin, prothrombin time (PT), and albumin. Historically, these laboratory tests have been called “liver function tests,” although only bilirubin, PT, and albumin assess hepatic function; the other tests reflect hepatic injury. Bilirubin, PT, and albumin may be affected by extrahepatic factors (ie, hemolysis, vitamin K deficiency, and nutritional deficiencies) and must therefore be interpreted in the appropriate clinical context. Although quantitative tests of hepatic function are available to clinicians, liver function per se is rarely assessed. “Abnormal” liver tests in the United States have been reported in approximately 7.9% of people tested, with a recent study of people in low- and middle-income countries reporting a similar frequency of 8%.

## Aminotransferases

The serum aminotransferases, ALT and AST, are markers of hepatocellular injury. These enzymes are important in protein synthesis as they catalyze the transfer of α-amino groups of alanine and aspartate to form pyruvate and oxaloacetate, respectively. ALT is localized primarily in the liver and resides in the cytosol, with a half-life in serum of approximately 47 hours. AST is more widely distributed within the liver as well as in cardiac, skeletal, kidney, and brain tissue, with a shorter serum half-life of 17 hours due to more rapid clearance. Therefore, AST is less specific than ALT for liver disease. Unlike ALT, AST resides predominantly in the mitochondria, with 80% of AST activity attributed to the mitochondrial isoenzyme and 20% residing in the cytosol as a different isoenzyme.

The definition of a truly normal ALT level has been variable. One guidance defined a normal serum ALT level as 29 to 33 U/L in males and 19 to 25 U/L in females in the absence of identifiable risk factors, with higher levels associated with higher rates of liver-related mortality. A recent pooled analysis of more than 400,000 individuals without metabolic disease found the 95 <sup>th</sup> percentile of upper limit of normal (ULN) for ALT to be 36 U/L in males and 28 U/L in females (32 U/L overall), with the overall ALT ULN rising to 40 U/L among those who were overweight and to 36 U/L in those with type 2 diabetes mellitus. Another guidance regarding the management of HBV infection defined a normal ALT as up to 35 U/L for men and 25 U/L for women. The clinical implications of adopting lower ALT cutoffs include earlier identification of patients at risk for chronic liver disease, particularly MASLD, and improved prediction of adverse liver outcomes. This approach may also increase the number of individuals classified as abnormal, with potential downstream effects on health care resource utilization and cost-effectiveness. However, significant liver disease can occur even with ALT levels that are considered “normal” by traditional standards. Numerous methods have been developed for measuring ALT and AST, and these methods typically rely on the measurement of lactate and malate in the aminotransferase reactions. Some variability exists in the commercial analyzer manufacturers, with 1 report from the Veterans Health Administration noting differences in ALT levels among 5 analyzers when ALT levels were compared with levels of 50 and 35 U/L in standardized samples.

Persistently (as with autoimmune hepatitis \[AIH\]) or intermittently (as with chronic HBV infection) elevated ALT and AST levels are categorized as hepatocellular injury or hepatitis. The degree of elevation of ALT and AST is helpful in distinguishing possible causes of liver diseases and should be contextualized with tests of liver function, including normalized ratio of prothrombin (INR) and bilirubin and with the clinical presentation. Elevations in ALT and AST have previously been classified as borderline (<2 × ULN), mild (2–5 × ULN), moderate (5–15 × ULN), severe (>15 × ULN), and massive (>10,000 U/L), and the urgency of evaluating elevations in ALT and AST is based on the degree of elevations.<sup>,</sup> Regardless of the degree of elevation of ALT and AST, the abnormal levels should be assessed in context, with a more urgent evaluation in the setting of an acute presentation, such as acute symptomatic hepatitis A, in which ALT and AST levels are generally at least 5–15 × ULN, or when the INR is prolonged or the bilirubin is elevated (). In the absence of precise cutoffs, aminotransferase elevations up to 5 times the ULN may be seen in commonly encountered liver diseases, including ALD, MASLD, and chronic viral hepatitis (see ).

![](https://ars-els-cdn-com.einsteinmed.idm.oclc.org/content/image/1-s2.0-S0016508526002398-gr1.jpg)

Download: Download high-res image (1MB)

An AST-to-ALT ratio can also be useful; a ratio >2 typically suggests ALD, which is explained by a deficiency of pyridoxine, with depression of ALT levels to a greater degree than AST.<sup>,</sup> An AST level >400 U/L is unlikely in ALD. An isolated elevated AST level may represent an artifact due to complexes of AST with immunoglobulins (macro-AST). AST levels will also be higher than ALT levels in an acute presentation or in cases of cirrhosis in patients with Wilson disease. This pattern, in combination with a low alkaline phosphatase level, is highly suggestive of Wilson disease. Finally, cirrhosis has been associated with increased AST-to-ALT ratio, and this pattern has been attributed to reduced hepatic clearance of AST, possible mitochondrial injury, and reduced ALT synthesis.

## Alkaline Phosphatase

Cholestasis is defined as an impairment in bile flow and is characterized by elevations in alkaline phosphatase and often bilirubin levels (although bilirubin may also be elevated in hepatocellular injury). The elevation in alkaline phosphatase may occur even if the impairment to bile flow is minor and insufficient to increase serum bilirubin levels. Alkaline phosphatase refers to a family of 4 isoenzymes that catalyze hydrolysis of phosphate esters that are found primarily in the canalicular membrane of hepatocytes, as well as in bone, placenta, intestine, and kidney. Fractionation of serum alkaline phosphatase may identify the source of alkaline phosphatase, with the most common being the liver and bone. Concurrent elevation of γ-glutamyl transpeptidase (GGT) or 5′-nucleotidase confirms a hepatic source of an isolated elevation of alkaline phosphatase. In adults, the alkaline phosphatase level is somewhat higher in men than women. In children, serum alkaline phosphatase levels are elevated and correlate with the rate of bone growth. Enzyme activity also increases in late pregnancy due to a placental source. In cholestatic liver disease, the increase in alkaline phosphatase is related to increased synthesis in the canalicular membrane, with translocation of the enzyme to the basal lateral surface of the hepatocyte and release into the serum.

Cholestasis may be extrahepatic or intrahepatic and may present as a chronic condition, as in primary biliary cholangitis, or acutely, as with a retained bile duct stone or cholangitis, in which there is an abrupt elevation in aminotransferase levels with gradual elevations in alkaline phosphatase and bilirubin (). People who present acutely with symptoms such as biliary pain with an elevated alkaline phosphatase should be assessed immediately for biliary obstruction. In addition, a large number of rare inherited causes of cholestasis present primarily in childhood and are caused by mutations in canalicular membrane proteins or other proteins involved in bile acid metabolism (see ).

![](https://ars-els-cdn-com.einsteinmed.idm.oclc.org/content/image/1-s2.0-S0016508526002398-gr2.jpg)

Download: Download high-res image (608KB)

Mixed hepatocellular-cholestatic patterns of liver injury occur when both ALT and AST levels and alkaline phosphatase levels are elevated. Mixed patterns are often seen in drug-induced livery injury (DILI), alcohol-associated hepatitis, extrahepatic biliary obstruction, acute viral hepatitis (including cytomegalovirus and Epstein-Barr virus hepatitis) and, rarely, autoimmune overlap syndromes, among other etiologies.<sup>,</sup>,,

The R ratio (R = \[ALT value / ALT ULN\] / \[alkaline phosphatase value/alkaline phosphatase ULN\]) quantifies whether the pattern of injury is predominantly hepatocellular, cholestatic, or mixed and was used originally in the assessment of DILI. An R ratio >5 suggests hepatocellular injury, <2 suggests cholestatic injury, and 2–5 represents a mixed pattern of hepatocellular injury, and the R ratio has been reported to have high specificity and negative predictive value in excluding severe DILI with positive results requiring clinical correlation.

## Tests of Liver Function

The albumin, PT, and total bilirubin are serum tests that reflect liver function. Albumin is a plasma protein, synthesized by the liver with a half-life of approximately 18 days; any acute illness may reduce its half-life. Albumin levels correlate with the severity of chronic liver disease, especially cirrhosis. The PT is a more sensitive reflection of liver function than albumin and assesses hemostasis, incorporating factors I, II, V, VII, and X. The PT may also be prolonged in people with vitamin K deficiency, taking anticoagulants, or with a coagulation disorder. A prolonged INR in the setting of cirrhosis does not reduce the risk of developing thrombosis, nor does a prolonged INR predict bleeding complications in the setting of cirrhosis.<sup>,</sup> Bilirubin is the breakdown product of hemoglobin, with the majority of bilirubin occurring in an unconjugated form and circulating bound to albumin. The serum bilirubin level is typically reported as total bilirubin, but can be fractionated into direct (conjugated) and indirect (unconjugated) fractions. Fractionation of bilirubin is most helpful when other liver chemistries are normal or near normal. Elevated conjugated bilirubin is present in both hepatocellular and cholestatic disorders and may reflect decreased excretion of bilirubin across the canalicular membrane or leakage of bilirubin from hepatocytes into the serum. Isolated elevation of the indirect bilirubin to a level no higher than 7 mg/dL is commonly due to Gilbert syndrome, but may be caused by hemolysis.

True tests of liver metabolic function are rarely performed in practice. The galactose elimination test is used as a quantitative measure of hepatic function to calculate functional hepatocyte mass. Similarly, the caffeine clearance test has been used historically to differentiate hepatocellular disease from biliary obstruction, but the test also has suboptimal specificity. Both the Hepatiq test for liver function, which uses single-photon emission computed tomography scanning, and the HepQuant assay, a quantitative test of liver function that assesses clearance of cholate, are newer available tests to measure liver function and have been demonstrated to predict clinical outcomes in those with advanced fibrosis due to hepatitis C.<sup>,</sup>

## Approach to the Patient With Abnormal Liver Tests

In the approach to abnormal liver tests, history taking should focus on risk factors for metabolic syndrome, alcohol use, risk factors for viral hepatitis, and current and recent use of medications, and herbal and dietary supplements (HDS). A history of recent infection; viral prodrome; inflammatory bowel disease; and pulmonary, cardiac, or hematologic disorders is important to obtain, and patients should be queried about a family history of liver disease. In patients presenting with jaundice, a history of hepatobiliary or gastrointestinal disease, including gallstones and inflammatory bowel disease, should be obtained. Extrahepatic causes of elevated liver biochemical tests may be considered, including thyroid disease, celiac disease, and heart failure (see section on ). In people presenting with cholestasis, light-colored stools (due to the lack of urobilinogen and its oxidation product stercobilin), pruritus, and bilirubinuria (dark urine) should be noted.

Specific findings of liver disease are shown in. Before initiating an evaluation for elevations in liver tests, the liver panel should be repeated, or confirmatory testing (eg, GGT for an isolated alkaline phosphatase elevation) should be obtained. Potentially hepatotoxic medicines and all alcohol use should be discontinued. If surreptitious alcohol use is suspected, a phosphatidylethanol level—a serum marker reflecting alcohol consumption within 30 days—may be ordered. In patients with mild elevations in aminotransferase levels, initial testing should include serologic testing for HBV and HCV, with confirmatory testing for HCV RNA if anti-HCV is positive, and an iron panel, including ferritin and transferrin saturation. ANA, anti-smooth muscle antibodies, ceruloplasmin, α1-antitrypsin level/phenotype may be ordered or deferred after a period of observation when elevations of aminotransferase levels are minimal (<2XULN). An elevated iron saturation or ferritin should be further assessed with *HFE* genotyping, although hereditary hemochromatosis, caused by excess iron absorption due to defective or impaired hepcidin function or synthesis, has low penetrance. Elevations in ferritin are far more commonly due to ALD or MASLD (up to one-third of those with MASLD); alcohol consumption increases ferritin synthesis by reducing hepcidin activity, and the metabolic syndrome alters the regulation of molecules involved in cellular iron export, leading to dysmetabolic iron overload syndrome.<sup>,</sup>

![](https://ars-els-cdn-com.einsteinmed.idm.oclc.org/content/image/1-s2.0-S0016508526002398-gr3.jpg)

Download: Download high-res image (491KB)

Abdominal imaging by ultrasonography can provide information about liver morphology, steatosis, biliary dilatation, and portal hypertension. Elastography may also provide information about fibrosis as well as steatosis in people with chronic liver disease, and can be obtained as a point-of-care test (vibration-controlled transient elastography) or with an ultrasonography (shear-wave elastography). If testing does not reveal an obvious etiology, then a period of observation for up to 3 months may be considered, especially when the elevations are minimal, as in people with an elevated AST or alkaline phosphatase level in the absence of other liver test abnormalities, or additional testing for AIH, Wilson disease, α1-antitrypsin deficiency, if not yet completed, and other extrahepatic causes may be pursued. When a period of observation is selected, it is important to ensure that advanced fibrosis is not present. The decision to perform extensive testing or focused testing in individuals with elevated liver enzymes has been examined using a microsimulation state-transition model. This model compared an extensive testing strategy with a focused evaluation and showed that the extensive testing had a lower cost with fewer physician visits; however, focused testing produced fewer false-positive results and more liver biopsies. In the referral setting, assessments for viral hepatitis, ALD, and MASLD have generally already been conducted. In a pooled analysis of prospective studies involving liver biopsy for undifferentiated liver disease, hemochromatosis, α1-antitrypsin deficiency, and Wilson disease were found in <1% of cases.

In people with more significant elevations of ALT and AST, a complete evaluation as well as an assessment for evidence of acute liver failure (ALF) should be performed (see ). The serum ferritin level is also an acute-phase reactant and is typically elevated in such cases, although extremely high ferritin values (>10,000 μg/L) should prompt an assessment for hemophagocytic lymphohistiocytosis.

The role of liver biopsy has evolved in clinical practice. Previously, liver biopsy was done commonly to assess the degree of fibrosis. Excellent noninvasive testing to assess for fibrosis (see section on ) and for biliary obstruction can now be performed serially to monitor progression of disease. Liver biopsy remains important, however, for determining the cause of otherwise unexplained chronically or acutely elevated liver biochemical tests. Liver biopsy may also be necessary to confirm the diagnosis of metabolic dysfunction–associated steatohepatitis (MASH)—although validated biomarkers for MASH are in development<sup>,</sup>—and is useful when a concomitant disease may be present, as in people with MASH and high levels of immune markers (MASH plus AIH). Liver biopsy may also confirm the presence of a specific disease, as suggested by the presence of Periodic acid-Schiff–positive globules in α1-antitrypsin deficiency, high hepatic copper levels in Wilson disease, and an elevated hepatic iron index in hemochromatosis.

## Extrahepatic Causes of Elevated Liver Tests

Several extrahepatic disorders are associated with liver biochemical test elevations. Celiac disease is an important cause of abnormal liver tests and has been found in 6%–9% of patients with elevated aminotransferase levels in the absence of other causes of liver disease.<sup>,</sup> Conversely, 15%–55% of patients with celiac disease have mild to moderate elevations in serum liver enzyme levels. The aminotransferase elevations are typically mild, with the ALT level usually exceeding the AST level. Alkaline phosphatase elevations can occur, and in severe cases the INR can be increased and albumin decreased due to intestinal malabsorption. IgA transglutaminase antibody while the patient is on a gluten-containing diet, combined with a serum IgA level to exclude IgA deficiency, is used to screen for celiac disease. In the majority of patients with celiac disease who adhere to a gluten-free diet, liver tests will normalize in up to several months.

Because both ALT and AST are present in skeletal muscle, rhabdomyolysis or another cause of muscle injury leads to elevated aminotransferase levels, with AST initially exceeding ALT in a ratio usually of at least 2:1. Rhabdomyolysis can be distinguished by markedly elevated creatine kinase levels as well as clinical findings of muscle tenderness.

Bone disease is a common cause of an alkaline phosphatase elevation. Increased serum alkaline phosphatase is commonly seen with osteomalacia secondary to vitamin D deficiency, osteoporosis, a recent fracture or orthopedic procedure, and Paget disease. Determining whether the increase in alkaline phosphatase is due to bone disease can be confirmed by an elevated bone alkaline phosphatase isoenzyme level or a normal GGT or 5′nucleotidase. A physiologic increase in alkaline phosphatase during pregnancy is due to placental production.

Hyperthyroidism is associated with abnormal liver tests in 55%– 60% of patients. Proposed mechanisms include oxidative stress, cholestasis, and enhanced osteoblastic activity.<sup>,</sup><sup>,</sup> Hypothyroidism is also associated with an increased frequency of elevated aminotransferase levels, due in part to an increased frequency of MASLD.

Congestive hepatopathy is another important cause of abnormal liver tests that should be considered in patients with right-sided heart failure or other causes of elevated central venous pressure, such as tricuspid regurgitation and constrictive pericarditis. Typically, aminotransferase levels are moderately elevated at 2–3 times the ULN; the total bilirubin is elevated, although rarely more than 3 mg/dL; the alkaline phosphatase is mildly elevated; and the INR is increased.

Hepatic ischemia from hypoperfusion, as in cardiogenic or septic shock and occasionally in respiratory failure, is a common cause of acute marked aminotransferase elevations in critically ill patients in the intensive care unit (ICU); the AST frequently exceeds 10 × the ULN. Such critically ill patients can also develop a cholestatic pattern of abnormal liver tests due to the so-called cholestasis of sepsis.

## Liver Tests in the Assessment of Hepatic Fibrosis

Traditionally, liver biopsy has been the gold standard for staging hepatic fibrosis, but its invasive nature, potential complications, sampling error, interobserver variability, and unsuitability for use as a large population screening tool have fueled the search for reliable noninvasive tests to assess liver fibrosis. Many serologic markers have been examined, and several panels have been developed that incorporate multiple markers to estimate the hepatic fibrosis stage (). Serologic markers can be direct markers of fibrosis that reflect extracellular matrix turnover (such as hyaluronic acid, tissue inhibitor of metalloproteinases, and N-terminal propeptide of collagen type III) or indirect markers that reflect hepatic dysfunction.

Table 1. Commonly Used Noninvasive Test Panels for Assessing Hepatic Fibrosis

<table><thead><tr><th rowspan="2">Noninvasive test</th><th rowspan="2">Liver disorder</th><th colspan="4">Fibrosis stage</th><th rowspan="2">Sensitivity, <em>%</em></th><th rowspan="2">Specificity, <em>%</em></th><th rowspan="2">PPV, <em>%</em></th><th rowspan="2">NPV, <em>%</em></th><th rowspan="2">AUROC</th><th rowspan="2">Components</th></tr><tr><th>F0–F1</th><th>F2–F4 (significant fibrosis)</th><th>F3–F4 (advanced fibrosis)</th><th>F4 (cirrhosis)</th></tr></thead><tbody><tr><td>APRI<sup>,</sup></td><td>HCV, HBV, MASLD</td><td>≤0.3</td><td>>0.7</td><td>>1.19</td><td>>2</td><td>84</td><td>88</td><td>66</td><td>95</td><td>0.568–0.803</td><td>AST, platelets</td></tr><tr><td>FIB-4 index,,,,</td><td>HCV, HBV, MASLD</td><td><1.30</td><td>≥1.45</td><td>>2.67<br>>3.25</td><td>≥3.48</td><td>71</td><td>85</td><td>50</td><td>93</td><td>0.802–0.896</td><td>Age, AST, ALT, platelets</td></tr><tr><td>FibroTest fibrosis score,,</td><td>HCV, HBV, MASLD, ALD, AIH</td><td><0.48</td><td>≥0.48</td><td>≥0.58</td><td>>0.74</td><td>92</td><td>97</td><td>60</td><td>89</td><td>0.75–0.86</td><td>Age, sex, total bilirubin, GGT, α2-macroglobulin, apolipoprotein A1, haptoglobin</td></tr><tr><td>Enhanced liver fibrosis test,,,,</td><td>HCV, MASLD, ALD, PBC</td><td><7.7</td><td>≥7.7</td><td>≥9.8</td><td>>11.3</td><td>65</td><td>86</td><td>75</td><td>79</td><td>0.75–0.85</td><td>Hyaluronic acid, amino-terminal propeptide of type III collagen, tissue inhibitor of matrix metalloproteinase-1</td></tr></tbody></table>

NPV, negative predictive value; PBC, primary biliary cholangitis; PPV, positive predictive values for advanced fibrosis.

a

Testing cohort.

b

Validation cohort.

The aspartate aminotransferase-to-platelet index (APRI) and the fibrosis-4 index (FIB-4) scores are simple calculations based on routinely collected laboratory data. The APRI includes the AST level and platelet count and has been validated in patients with chronic HCV infection, for which it has moderate predictive value.<sup>,</sup> In this patient population, the area under the receiver operating characteristic curve (AUROC) of the APRI for the diagnosis of significant fibrosis (F2–F4), advanced fibrosis (F3–F4), and cirrhosis (F4) were 0.77, 0.80, and 0.83, respectively. For example, an APRI threshold of 0.7 was 77% sensitive and 72% specific for significant fibrosis, and a threshold of 1.0 was 76%–89% sensitive and 72%–75% specific for cirrhosis. An APRI of >2 was 57% sensitive and 93% specific for cirrhosis.

The FIB-4 was developed from a cohort of patients with HIV/HCV co-infection and includes age, ALT, AST, and platelet count. A FIB-4 score <1.45 has a negative predictive value for excluding advanced fibrosis of 90% with a sensitivity of 70%. A cutoff of >3.25 has a positive predictive value of 65% and a specificity of 97% for advanced fibrosis. FIB-4 has better accuracy than APRI in predicting cirrhosis in patients with chronic HCV infection (AUROC 0.896 vs. 0.823, with transient elastography as the reference \[see \]).<sup>,</sup> In patients with chronic HBV infection, FIB-4 has been shown to have moderate sensitivity and accuracy, with an AUROC of 0.8165 (compared with 0.7347 for APRI). In patients with chronic HBV infection, a FIB-4 score <1.45 has a negative predictive value for excluding advanced fibrosis of 90% and a sensitivity of 70%. A value >3.25 has a positive predictive value of 65% and a specificity of 97% for advanced fibrosis. A FIB-4 score <1.3 is associated with a strong negative predictive value for advanced hepatic fibrosis and may be useful for the exclusion of advanced fibrosis in people with MASLD. The FIB-4 has moderate accuracy in detecting advanced fibrosis (bridging fibrosis or cirrhosis) in patients with MASLD, with an AUROC of 0.802, although it may be less useful in excluding advanced fibrosis in patients with MASLD who are lean or have severe (class III) obesity.<sup>,</sup> FIB-4 should be used with caution in patients younger than 35 years or older than 65 years, in whom the test has been found to be less reliable, although a revised cutoff of 2.0 has been found to improve performance in excluding advanced fibrosis in those older than 65 years.

FibroTest (licensed in the United States as FibroSURE, BioPredictive) uses a combination of 5 serum markers, including total bilirubin, GGT, α2-macroglobulin, haptoglobin, and apolipoprotein A1, along with age and sex, to assess fibrosis. The FibroTest-ActiTest (BioPredictive) includes ALT as an additional marker and provides an estimate of fibrosis and necroinflammatory activity in the liver. The test has been validated in patients with chronic HCV infection, chronic HBV infection, ALD, and MASLD.<sup>,</sup><sup>,</sup>,,, FibroTest should not be used in patients with Gilbert syndrome, hemolysis, biliary obstruction, or acute hepatitis because these conditions will result in an overestimation of the fibrosis stage.

The enhanced liver fibrosis test is a commercially available laboratory panel that uses the following 3 direct fibrosis markers: hyaluronic acid, tissue inhibitor of metalloproteinases, and N-terminal propeptide of collagen type III. It has been found to be accurate in detecting advanced fibrosis in ALD and MASLD.<sup>,</sup> In screening patients with ALD and MASLD for advanced fibrosis, a sequential test strategy of FIB-4 followed, in indeterminate cases, by enhanced liver fibrosis was found in 1 study to lead to the need for confirmatory liver stiffness measurement with transient elastography in few patients, while retaining a high rate of detected cases of advanced fibrosis.

Individuals with indeterminate results for advanced fibrosis should undergo further evaluation with transient elastography, magnetic resonance elastography, or liver biopsy unless there are clear imaging findings of cirrhosis. Combining a noninvasive test with elastography, such as FibroScan-AST and MRI-AST, may potentially improve the diagnostic accuracy of fibrosis estimation.

## Liver Tests in the Assessment of Prognosis

The Model for End-Stage Liver Disease (MELD) is a metric that has proven useful in predicting short-term mortality in patients with liver disease. The MELD score was developed prospectively using data from 231 cirrhotic patients at 4 US medical centers who underwent elective transjugular intrahepatic portosystemic shunt placement. The MELD scoring system was developed using Cox proportional hazards regression modeling to identify patients whose predicted survival post procedure was 3 months or less. It was subsequently found to be a reliable measure of mortality risk in patients with end-stage liver disease and, beginning in February 2002, was used in organ allocation for liver transplantation. The original MELD score consisted of serum bilirubin, serum creatinine, and INR. In patients with chronic liver disease, an increasing MELD score is associated with increasing severity of hepatic dysfunction and risk of death. Subsequent modifications in the MELD score to incorporate the serum sodium (MELD-Na) and, more recently, sex and serum albumin (MELD 3.0) have provided greater accuracy in predicting mortality in patients with end-stage liver disease.,,

The original Child score was developed by Child and Turcotte in 1964 to risk stratify patients undergoing portosystemic shunt surgery; it was subsequently modified by Pugh in 1972 and renamed the Child-Turcotte-Pugh (CTP) score. The score used the following 5 parameters: serum bilirubin, serum albumin, PT, ascites, and encephalopathy. Each parameter is given a score of 1–3 points, so the total CTP score ranges from 5 to 15 and determines the class (A: 5–6, B: 7–9, and C: 10–15 points). The CTP classification has several shortcomings. It contains some subjectively assessed parameters (ie, ascites and encephalopathy) and is limited in its discriminatory capacity due to both ceiling and floor effects; for example, a bilirubin of 4 mg/dL is assigned the same number of points as a bilirubin of 25 mg/dL, even though the serum bilirubin level is an important prognostic indicator. Finally, there is a relatively poor correlation between the CTP score and mortality. Nevertheless, the CTP score remains useful in communicating the degree of decompensation of cirrhosis.

The VOCAL \[Veterans Outcomes and Costs Associated with Liver Disease\]-Penn is a scoring system that estimates the risk of 30-, 90-, and 180-day postoperative mortality and 90-day postoperative decompensation in patients with cirrhosis who undergo surgery.<sup>,</sup> It incorporates the patient’s age, albumin, total bilirubin, platelet count, body mass index, presence of MASLD, American Society of Anesthesiologists class, surgery type, and whether the surgery is emergent.

The Maddrey discriminant function is a prognostic tool for patients with alcohol-associated hepatitis that is calculated using the serum bilirubin and PT. A Maddrey discriminant function score >32 indicates severe alcohol-associated hepatitis and identifies patients with a >50% 30-day mortality who may benefit from early intervention with glucocorticoids.<sup>,</sup> The MELD score has supplanted the Maddrey Discriminate Function as the preferred prognostic tool for patients with alcohol-associated hepatitis.

The Lille model risk stratifies patients with alcohol-associated hepatitis who are receiving systemic glucocorticoid treatment to predict which ones will not improve with further therapy. The values include the albumin, creatinine, PT, and bilirubin, and patient’s age on admission, along with the day-7 bilirubin. Subsequent studies have found that using the day-4 bilirubin yields a similar predictive value; a Lille score >0.45 suggests that a patient is not responding to glucocorticoid therapy and should be considered for other management strategies.

## Immunoglobulin Levels in Liver Disease

In liver disease, derangements in immunoglobulins have been well described for decades, most notably IgA elevation associated with ALD, IgM elevation in primary biliary cholangitis, and IgG elevation in AIH. IgG is the most abundant immunoglobulin in the body and is secreted by plasma cells in response to a diverse array of inflammatory stimuli. Liver disease is the primary cause of elevated polyclonal IgG levels in a primary care setting and most commonly is due to AIH or viral infections (particularly HIV and HCV infections). In AIH, a combination of molecular mimicry and loss of tolerance to autoantigens results in an inflammatory cascade, with polyclonal B-cell activation and expansion. These activated plasma cells secrete a polyclonal IgG, which is detected in the serum. Elevated serum IgG levels are seen in 85% of patients with AIH and are included in the Revised Diagnostic Criteria for AIH. IgG is also clinically useful in determining disease activity and treatment response and normalizes in biochemical remission. In chronic hepatitis C, the dysregulated production of immunoglobulins (polyclonal IgG and polyclonal IgM) underlies the extrahepatic manifestation of type III mixed cryoglobulinemia. which presents with myalgias, weakness, and purpura.

IgG4-related disease is a unique immune-mediated disease that can affect nearly any organ system. Liver involvement of IgG4-related disease most commonly presents with 1 of 2 phenotypes: a mass-like lesion mimicking malignancy or findings similar to those of primary sclerosing cholangitis. Elevation in serum IgG4 levels is seen in the majority of patients with IgG4-related liver disease, and 1 study found that levels >1.4 g/L were 90% sensitive in the detection of IgG4-related sclerosing cholangitis. The diagnosis of IgG4-related liver disease is based on characteristic imaging findings (most frequently on magnetic resonance cholangiopancreatography), histopathology, and serum IgG4 levels.

## Liver Test Abnormalities in Specific Conditions

### Drug-Induced Liver Injury

DILI encompasses a broad spectrum of pathology with a range of serologic phenotypes and clinical consequences.<sup>,</sup> Broadly, DILI is any unintended injury to hepatic parenchyma and can be classified as intrinsic (direct), idiosyncratic, or indirect. Intrinsic DILI occurs when a known safe dosage of a drug is exceeded; acetaminophen hepatotoxicity is the classic example. Intrinsic DILI tends to occur shortly after the exposure. By contrast, idiosyncratic DILI is unpredictable, generally not dose-dependent, and a result of unique host–drug interactions. Indirect hepatotoxicity occurs when the intended function of the drug may indirectly cause liver injury, as in immune checkpoint inhibitor (ICI) hepatitis and cholangitis (see section on ).

The pattern of injury, or clinical phenotype, is based on the relative elevation of liver biochemistries using the previously discussed R ratio. Intrinsic DILI is most frequently hepatocellular, whereas the pattern of idiosyncratic injury varies widely.

Idiosyncratic DILI is most frequently caused by antimicrobials, with HDS the second most common cause. The epidemiology, however, is evolving, and the proportion of cases of DILI attributed to HDS has increased from 9% in 2004–2007 to nearly 20% in 2010–2014. The vast majority of supplements contain multiple ingredients, and a single causative agent often cannot be determined. Single-agent supplements most commonly implicated in liver injury are bodybuilding products (eg, anabolic steroids), which may result in cholestatic liver injury, and green tea extracts, which may result in a mixed pattern of injury. Turmeric supplement–related DILI also appears to be rising in frequency, with a pattern of injury that is most frequently hepatocellular and occurs with a latency of 1–4 months. Despite the rising frequency of HDS-related DILI, antimicrobials remain the most common cause and are universally idiosyncratic in mechanism ().

Table 2. Patterns of Drug-Induced Liver Injury

| Pattern of injury | Time frame of injury | Clinical features | Common drugs (mechanism) |
| --- | --- | --- | --- |
| Acute severe hepatocellular (AST or ALT >10 × ULN) | Days | Abrupt and often dramatic rise in ALT/AST   May be accompanied by coagulopathy, liver failure | Acetaminophen (direct); diclofenac, isoniazid, pyrazinamide (idiosyncratic) |
| Hepatocellular | Days or weeks   Months or years | Rise in ALT/AST in days to weeks after drug initiation.   Infrequently severe   A chronic presentation can occur over years and can mimic AIH | Acetaminophen and high-dose amiodarone (direct); carbamazepine, chemotherapy agents, diclofenac, fluoroquinolones, isoniazid, minocycline, nitrofurantoin, pyrazinamide, statins, sulfonamides (idiosyncratic) |
| Cholestatic | Weeks or months | Marked elevations in alkaline phosphatase, mild ALT elevation   May be accompanied by pruritus | Amoxicillin-clavulanate, anabolic steroids, cefazolin, estrogens (idiosyncratic) |
| Mixed | Days to months | Elevation of both alkaline phosphatase and ALT | Fluroquinolones, macrolides, phenytoin, TMP-SMZ (idiosyncratic) |
| Steatosis | Months to years | Radiologic steatosis with or without aminotransferase elevation   Mechanisms vary from potentiating host metabolic factors to direct impact on mitochondrial dysfunction | Amiodarone, didanosine, glucocorticoids, methotrexate, stavudine, tamoxifen, valproic acid |

TMP-SMZ, trimethoprim-sulfamethoxazole.

Less frequent causes of idiosyncratic liver injury are 3 hydroxy-3-methylglutaryl coenzyme A reductase inhibitors (ie, statins). After initiation of statin therapy, approximately 3% of patients will develop a mild elevation in aminotransferases during the first year, which resolves spontaneously and is not thought to reflect clinically significant liver toxicity. Idiosyncratic DILI related to statins, by contrast, is uncommon and hepatocellular in only 50% of instances, has a latency that ranges from 34 days to 10 years, and tends to be mild to moderate in severity and is self-limited.<sup>,</sup>

DILI is responsible for >50% of all ALF cases in the United States and 11%–13% of these are non–acetaminophen-related.<sup>,</sup><sup>,</sup> Furthermore, among patients with non–acetaminophen-related DILI, nearly 10% will die or require liver transplantation within 6 months of presentation. Death or liver transplantation was more frequently observed with acute hepatocellular injury and a high R ratio, INR, bilirubin, and MELD score. Even in the absence of ALF, morbidity is substantial; nearly 20% patients will develop chronic DILI, more commonly in those with cholestatic liver injury.

### Hospitalized and Critically Ill Patients

Hospitalized patients frequently develop abnormal liver enzymes, although the exact epidemiology is not clearly defined; liver injury can range from mild to severe. One multicenter study determined the causes of severe hepatocellular liver injury in hospitalized patients (defined as ALT or AST >1000 U/mL) and found the top 3 causes of acute severe liver injury to be ischemic hepatitis (42.7%), pancreatobiliary disease (12.3%), and DILI (11.3%). The epidemiology of cholestatic or mixed liver injury is less well characterized, but 1 small study of an isolated alkaline phosphatase elevation in hospitalized patients found the most common causes to be malignancy (20%), cardiovascular disease (16%), benign bone disease (8%), ALD (6%), and biliary disease (6%).<sup>,</sup>

In the critically ill patient, liver biochemistries are frequently abnormal and may be directly related to the underlying disease process (such as acute liver injury/ALF and congestive hepatopathy), the management of illness (eg, DILI, mechanical ventilation, and total parenteral nutrition \[TPN\]), or an indirect insult due to illness (such as ischemic hepatitis and the cholestasis of sepsis).

Severe hepatocellular liver injury in the ICU, particularly an AST >10 × the ULN, is most frequently due to ischemic hepatitis, which is seen in 2.5% of all ICU admissions and is often associated with underlying passive congestion and heart failure. In the classic presentation of ischemic hepatitis, a rapid and dramatic rise in AST greater than ALT is usually followed by a rapid decline, with AST falling more rapidly than ALT. These enzyme elevations are often accompanied by an elevation in lactate dehydrogenase. Following the acute aminotransferase elevation, a rise in bilirubin is often delayed. Because the initial insult is generally hypoperfusion, renal function commonly worsens in parallel, usually due to acute tubular necrosis. Ischemic hepatitis in the ICU patient portends a poor outcome, with an estimated 50% in-hospital mortality rate.<sup>,</sup>

Cholestatic liver injury may be seen in up to one-third of ICU patients and is multifactorial in its underlying contributors. Cholestasis in the critically ill patient is characterized by elevations in the alkaline phosphatase, GGT, and/or bilirubin. The first step in evaluating cholestasis is to exclude biliary obstruction with abdominal ultrasonography or magnetic resonance cholangiopancreatography. In the absence of biliary obstruction, causes of cholestasis in the ICU include the cholestasis of sepsis, DILI, and TPN-related liver injury.

Sepsis may impact hepatic function even in the absence of direct infection of the liver (such as cholangitis or hepatic abscess). Pro-inflammatory signals result in impaired export of bile acids and conjugation of bilirubin and results in elevated alkaline phosphatase and bilirubin levels. The magnitude of bilirubin elevation in an ICU patient has important prognostic implications, with a 27% in-hospital mortality rate if the level is between 2 and 3 mg/dL and 48% if the level is >10 mg/dL. With high bilirubin levels, the delta bilirubin fraction may be formed by covalent binding of conjugated bilirubin to albumin, which is not cleared by the kidneys and contributes to prolonged jaundice.

TPN is another contributor to cholestatic liver injury in the ICU and can cause a range of hepatobiliary injury phenotypes, from mild aminotransferase elevations to cholestasis to rapidly progressive fibrosis and even cirrhosis. TPN-related hepatotoxicity is classically defined as a rise in bilirubin >2 mg/dL, with elevations in alkaline phosphatase, GGT, and aminotransferases, and can occur as early as 2 weeks and as delayed as several months after the initiation of TPN. It is more common in infants and children but can be observed at any age. The most common pathologic finding is cholestasis, mirroring the biochemical abnormalities.<sup>,</sup>

### Chemotherapy and Immune Checkpoint Inhibitor Toxicity

The liver is an important nexus for the metabolism of agents used to treat solid and hematologic malignancies, and liver toxicity is common. Liver-related consequences range from DILI-like toxicity (ie, idiosyncratic, dose-dependent, and indirect injury), short-term hematologic consequences (such as veno-occlusive disease \[VOD\]), and complications that develop over months to years (such as steatohepatitis and nodular regenerative hyperplasia). VOD, sinusoidal obstruction syndrome (SOS), and ICI toxicity are patterns of liver injury common in oncologic treatment.

VOD and SOS comprise a spectrum of disease most commonly encountered after stem-cell transplantation (SCT) in the treatment of hematologic malignancies. The underlying pathophysiology involves activation of sinusoidal endothelial cells, gaps in the sinusoidal barrier, and accumulation of debris in the space of Disse, thereby leading to impaired venous outflow and post-sinusoidal portal hypertension. In the majority of cases, jaundice with a bilirubin >2 mg/dL is a hallmark. Clinically, VOD/SOS presents with jaundice, hepatomegaly, and ascites within 3–4 weeks of myeloablative therapy. The incidence of VOD/SOS after SCT is estimated to be approximately 5%–15%. In the setting of severe disease, defined as a bilirubin of 5–8 mg/dL and aminotransferases >8 × the ULN, the risk of mortality increases substantively, particularly if accompanied by multiorgan failure.

Oxaliplatin, an alkylating agent commonly used in the treatment of colorectal cancer, has also been associated with sinusoidal injury, but without the short-term consequences of severe injury, portal hypertension, and organ failure. Over the long term, however, toxicity due to oxaliplatin (among several other agents, including azathioprine) can result in nodular regenerative hyperplasia—another, more insidious, form of portosinusoidal vascular disease (or noncirrhotic portal hypertension).

Graft-vs-host disease (GVHD) affects 30%–70% of patients after SCT and is generally classified as acute or chronic. GVHD impacts multiple organ systems, most commonly the skin and gastrointestinal tract, but the liver may also be involved. In acute GVHD, severe, acute hepatitis with a rapid rise in aminotransferases may develop within the first 100 days after SCT. Liver involvement in chronic GVHD is frequently observed as a slowly progressive cholestatic liver disease, initially with elevated alkaline phosphatase and GGT levels, followed by jaundice.

ICIs have transformed the treatment of advanced malignancies by enhancing the anti-tumor immunologic response via blockade of cytotoxic T-lymphocyte–associated-4 inhibitors (eg, ipilimumab), as well as inhibitors of programmed cell death protein-1 (eg, pembrolizumab, nivolumab) and programmed cell death-ligand A (eg, atezolizumab and durvalumab). By promoting anti-tumor immune activation, these drugs may also cause adverse events related to loss of self-tolerance, including injury to the liver and bile ducts.

ICI-related hepatitis can arise at any point during treatment, most commonly between weeks 4 and 16, and is frequently asymptomatic and found only on routine testing. From 10% to 15% of patients undergoing treatment with ICIs will experience liver-related toxicity. A hepatocellular pattern is most common, occurring in approximately 50% of cases, but mixed and cholestatic patterns of injury are also observed. The patient must be evaluated for metastatic disease spread, viral infection, and other drug-related injury. In the setting of diagnostic uncertainty, a liver biopsy may be helpful. The severity of ICI-hepatitis is graded using the Common Terminology Criteria for Adverse Events, version 5.0: grade 1, ALT or AST of 1–3 × ULN; grade 2, ALT or AST of 3–5 × ULN; grade 3, ALT or AST of 5–20 × ULN; and grade 4, ALT or AST of >20 × ULN. Grades 1 to 2 toxicity may resolve following treatment interruption, but more severe toxicity generally requires treatment with glucocorticoids or other immunomodulatory therapy.

### Pregnancy

Changes in serum biochemistries are common and physiologic during pregnancy, most notably alkaline phosphatase elevation, which begins in the second trimester, peaks (usually 2 × ULN) in the third trimester, and is placental in origin. Liver dysfunction may occur in up to 5% of pregnancies. Causes include new or exacerbation of chronic underlying liver disease, such as viral hepatitis, AIH, or cirrhosis, and conditions unique to pregnancy, including hyperemesis gravidarum; hemolysis, elevated liver enzymes, low platelets syndrome; and acute fatty liver of pregnancy,,, ().

Table 3. Liver Disease During Pregnancy

| Disease | Trimester | Clinical features | Management |
| --- | --- | --- | --- |
| HG | First (wk 4–10) | Affects 1% of all pregnancies   Persistent nausea/vomiting   Mild to moderate ALT/AST elevation | Supportive care   Pyridoxine, doxylamine-pyridoxine |
| ICP | Late second-third | Affects ∼1% of all pregnancies   Pruritus   Elevated serum bile acids (>10 μmol/mL) with or without elevated ALT/AST | Consideration of early delivery when bile acids >40 μmol/mL |
| HELLP syndrome | \>20 wk   Most commonly in wk 28–36 | Elevated ALT/AST (>70 U/L), elevated LDH, low platelets   May be associated with hypertension and proteinuria   Liver biochemistries normalize rapidly after delivery | Management of coagulopathy or bleeding complications and prompt delivery   Magnesium infusion |
| AFLP | Late third (∼37 wk) | Rare: 1 in 10,000–20,000 pregnancies   Presentation varies in severity: from mild and nonspecific (ie, fatigue, nausea, and anorexia) to acute liver failure   Swansea criteria are used to diagnose AFLP | Prompt delivery   Careful monitoring due to postpartum risk of hemorrhage, DIC, and renal failure |

AFLP, acute fatty liver of pregnancy; DIC, disseminated intravascular coagulation; HELLP, hemolysis, elevated liver enzymes, low platelet count; HG, hyperemesis gravidarum; ICP, intrahepatic cholestasis of pregnancy; LDH, lactate dehydrogenase.

a

During the first trimester, HG is a common cause of liver enzyme abnormalities. More than 50% of patients with HG have mild or moderate elevations of the aminotransferases, which improve with resolution of HG and supportive care.

b

After 20 weeks’ gestation, the most common pregnancy-related causes of liver injury are ICP and HELLP syndrome. In ICP, the degree of bile acid elevation is associated with the risk of perinatal mortality, and early delivery is considered when serum bile acid levels are >40 μmol/mL.

c

Treatment of HELLP syndrome hinges on delivery, and in the vast majority of cases, liver enzymes and platelets normalize within 48–72 hours.

d

AFLP is a rare but serious and potentially fatal liver-related complication of pregnancy. In milder cases, it may be clinically difficult to differentiate AFLP from other pregnancy-related diseases, HELLP syndrome in particular.

e

The Swansea Criteria are a validated metric for the diagnosis of AFLP and include 15 clinical, serologic, radiologic, and pathologic indices, and AFLP is diagnosed if 6 criteria are met. As with HELLP syndrome, delivery is the cornerstone of management; however, in contrast to HELLP syndrome, clinical improvement may lag for days to weeks.

## Conclusions

By the middle of the 20th century, the standard liver tests (ie, aminotransferases, alkaline phosphatase, and bilirubin) plus tests of liver function (ie, albumin and PT) had become available in routine practice and essential to the diagnosis of liver disease. Subsequent advances included the use of these tests to monitor response to emerging therapies, detect hepatotoxicity of a growing number of medications and supplements, and determine prognosis in an expanding array of liver diseases. Over time, these tests were incorporated into more sophisticated prognostic formulas, some simple and some complex, and into methods to predict the degree of hepatic fibrosis, ultimately the most important determinant of long-term outcome in people with chronic liver disease. Well into the 21st century, liver function tests (a partial misnomer) remain at the heart of the practice of hepatology.

[^2]: Persistently (as with autoimmune hepatitis \[AIH\]) or intermittently (as with chronic HBV infection) elevated ALT and AST levels are categorized as hepatocellular injury or hepatitis. The degree of elevation of ALT and AST is helpful in distinguishing possible causes of liver diseases and should be contextualized with tests of liver function, including normalized ratio of prothrombin (INR) and bilirubin and with the clinical presentation. Elevations in ALT and AST have previously been classified as borderline (<2 × ULN), mild (2–5 × ULN), moderate (5–15 × ULN), severe (>15 × ULN), and massive (>10,000 U/L), and the urgency of evaluating elevations in ALT and AST is based on the degree of elevations.<sup>,</sup> Regardless of the degree of elevation of ALT and AST, the abnormal levels should be assessed in context, with a more urgent evaluation in the setting of an acute presentation, such as acute symptomatic hepatitis A, in which ALT and AST levels are generally at least 5–15 × ULN, or when the INR is prolonged or the bilirubin is elevated (). In the absence of precise cutoffs, aminotransferase elevations up to 5 times the ULN may be seen in commonly encountered liver diseases, including ALD, MASLD, and chronic viral hepatitis (see ).

![](https://ars-els-cdn-com.einsteinmed.idm.oclc.org/content/image/1-s2.0-S0016508526002398-gr1.jpg)

Download: Download high-res image (1MB)

[^3]: <table><thead><tr><th rowspan="2">Noninvasive test</th><th rowspan="2">Liver disorder</th><th colspan="4">Fibrosis stage</th><th rowspan="2">Sensitivity, <em>%</em></th><th rowspan="2">Specificity, <em>%</em></th><th rowspan="2">PPV, <em>%</em></th><th rowspan="2">NPV, <em>%</em></th><th rowspan="2">AUROC</th><th rowspan="2">Components</th></tr><tr><th>F0–F1</th><th>F2–F4 (significant fibrosis)</th><th>F3–F4 (advanced fibrosis)</th><th>F4 (cirrhosis)</th></tr></thead><tbody><tr><td>APRI<sup>,</sup></td><td>HCV, HBV, MASLD</td><td>≤0.3</td><td>>0.7</td><td>>1.19</td><td>>2</td><td>84</td><td>88</td><td>66</td><td>95</td><td>0.568–0.803</td><td>AST, platelets</td></tr><tr><td>FIB-4 index,,,,</td><td>HCV, HBV, MASLD</td><td><1.30</td><td>≥1.45</td><td>>2.67<br>>3.25</td><td>≥3.48</td><td>71</td><td>85</td><td>50</td><td>93</td><td>0.802–0.896</td><td>Age, AST, ALT, platelets</td></tr><tr><td>FibroTest fibrosis score,,</td><td>HCV, HBV, MASLD, ALD, AIH</td><td><0.48</td><td>≥0.48</td><td>≥0.58</td><td>>0.74</td><td>92</td><td>97</td><td>60</td><td>89</td><td>0.75–0.86</td><td>Age, sex, total bilirubin, GGT, α2-macroglobulin, apolipoprotein A1, haptoglobin</td></tr><tr><td>Enhanced liver fibrosis test,,,,</td><td>HCV, MASLD, ALD, PBC</td><td><7.7</td><td>≥7.7</td><td>≥9.8</td><td>>11.3</td><td>65</td><td>86</td><td>75</td><td>79</td><td>0.75–0.85</td><td>Hyaluronic acid, amino-terminal propeptide of type III collagen, tissue inhibitor of matrix metalloproteinase-1</td></tr></tbody></table>

NPV, negative predictive value; PBC, primary biliary cholangitis; PPV, positive predictive values for advanced fibrosis.

a

Testing cohort.

b

Validation cohort.

[^4]: Idiosyncratic DILI is most frequently caused by antimicrobials, with HDS the second most common cause. The epidemiology, however, is evolving, and the proportion of cases of DILI attributed to HDS has increased from 9% in 2004–2007 to nearly 20% in 2010–2014. The vast majority of supplements contain multiple ingredients, and a single causative agent often cannot be determined. Single-agent supplements most commonly implicated in liver injury are bodybuilding products (eg, anabolic steroids), which may result in cholestatic liver injury, and green tea extracts, which may result in a mixed pattern of injury. Turmeric supplement–related DILI also appears to be rising in frequency, with a pattern of injury that is most frequently hepatocellular and occurs with a latency of 1–4 months. Despite the rising frequency of HDS-related DILI, antimicrobials remain the most common cause and are universally idiosyncratic in mechanism ().

Table 2. Patterns of Drug-Induced Liver Injury 

| Pattern of injury | Time frame of injury | Clinical features | Common drugs (mechanism) |
| --- | --- | --- | --- |
| Acute severe hepatocellular (AST or ALT >10 × ULN) | Days | Abrupt and often dramatic rise in ALT/AST   May be accompanied by coagulopathy, liver failure | Acetaminophen (direct); diclofenac, isoniazid, pyrazinamide (idiosyncratic) |
| Hepatocellular | Days or weeks   Months or years | Rise in ALT/AST in days to weeks after drug initiation.   Infrequently severe   A chronic presentation can occur over years and can mimic AIH | Acetaminophen and high-dose amiodarone (direct); carbamazepine, chemotherapy agents, diclofenac, fluoroquinolones, isoniazid, minocycline, nitrofurantoin, pyrazinamide, statins, sulfonamides (idiosyncratic) |
| Cholestatic | Weeks or months | Marked elevations in alkaline phosphatase, mild ALT elevation   May be accompanied by pruritus | Amoxicillin-clavulanate, anabolic steroids, cefazolin, estrogens (idiosyncratic) |
| Mixed | Days to months | Elevation of both alkaline phosphatase and ALT | Fluroquinolones, macrolides, phenytoin, TMP-SMZ (idiosyncratic) |
| Steatosis | Months to years | Radiologic steatosis with or without aminotransferase elevation   Mechanisms vary from potentiating host metabolic factors to direct impact on mitochondrial dysfunction | Amiodarone, didanosine, glucocorticoids, methotrexate, stavudine, tamoxifen, valproic acid |

TMP-SMZ, trimethoprim-sulfamethoxazole.

[^5]: | Pattern of injury | Time frame of injury | Clinical features | Common drugs (mechanism) |
| --- | --- | --- | --- |
| Acute severe hepatocellular (AST or ALT >10 × ULN) | Days | Abrupt and often dramatic rise in ALT/AST   May be accompanied by coagulopathy, liver failure | Acetaminophen (direct); diclofenac, isoniazid, pyrazinamide (idiosyncratic) |
| Hepatocellular | Days or weeks   Months or years | Rise in ALT/AST in days to weeks after drug initiation.   Infrequently severe   A chronic presentation can occur over years and can mimic AIH | Acetaminophen and high-dose amiodarone (direct); carbamazepine, chemotherapy agents, diclofenac, fluoroquinolones, isoniazid, minocycline, nitrofurantoin, pyrazinamide, statins, sulfonamides (idiosyncratic) |
| Cholestatic | Weeks or months | Marked elevations in alkaline phosphatase, mild ALT elevation   May be accompanied by pruritus | Amoxicillin-clavulanate, anabolic steroids, cefazolin, estrogens (idiosyncratic) |
| Mixed | Days to months | Elevation of both alkaline phosphatase and ALT | Fluroquinolones, macrolides, phenytoin, TMP-SMZ (idiosyncratic) |
| Steatosis | Months to years | Radiologic steatosis with or without aminotransferase elevation   Mechanisms vary from potentiating host metabolic factors to direct impact on mitochondrial dysfunction | Amiodarone, didanosine, glucocorticoids, methotrexate, stavudine, tamoxifen, valproic acid |

TMP-SMZ, trimethoprim-sulfamethoxazole.

[^6]: Changes in serum biochemistries are common and physiologic during pregnancy, most notably alkaline phosphatase elevation, which begins in the second trimester, peaks (usually 2 × ULN) in the third trimester, and is placental in origin. Liver dysfunction may occur in up to 5% of pregnancies. Causes include new or exacerbation of chronic underlying liver disease, such as viral hepatitis, AIH, or cirrhosis, and conditions unique to pregnancy, including hyperemesis gravidarum; hemolysis, elevated liver enzymes, low platelets syndrome; and acute fatty liver of pregnancy,,, ().

Table 3. Liver Disease During Pregnancy 

| Disease | Trimester | Clinical features | Management |
| --- | --- | --- | --- |
| HG | First (wk 4–10) | Affects 1% of all pregnancies   Persistent nausea/vomiting   Mild to moderate ALT/AST elevation | Supportive care   Pyridoxine, doxylamine-pyridoxine |
| ICP | Late second-third | Affects ∼1% of all pregnancies   Pruritus   Elevated serum bile acids (>10 μmol/mL) with or without elevated ALT/AST | Consideration of early delivery when bile acids >40 μmol/mL |
| HELLP syndrome | \>20 wk   Most commonly in wk 28–36 | Elevated ALT/AST (>70 U/L), elevated LDH, low platelets   May be associated with hypertension and proteinuria   Liver biochemistries normalize rapidly after delivery | Management of coagulopathy or bleeding complications and prompt delivery   Magnesium infusion |
| AFLP | Late third (∼37 wk) | Rare: 1 in 10,000–20,000 pregnancies   Presentation varies in severity: from mild and nonspecific (ie, fatigue, nausea, and anorexia) to acute liver failure   Swansea criteria are used to diagnose AFLP | Prompt delivery   Careful monitoring due to postpartum risk of hemorrhage, DIC, and renal failure |

AFLP, acute fatty liver of pregnancy; DIC, disseminated intravascular coagulation; HELLP, hemolysis, elevated liver enzymes, low platelet count; HG, hyperemesis gravidarum; ICP, intrahepatic cholestasis of pregnancy; LDH, lactate dehydrogenase.

a

During the first trimester, HG is a common cause of liver enzyme abnormalities. More than 50% of patients with HG have mild or moderate elevations of the aminotransferases, which improve with resolution of HG and supportive care.

b

After 20 weeks’ gestation, the most common pregnancy-related causes of liver injury are ICP and HELLP syndrome. In ICP, the degree of bile acid elevation is associated with the risk of perinatal mortality, and early delivery is considered when serum bile acid levels are >40 μmol/mL.

c

Treatment of HELLP syndrome hinges on delivery, and in the vast majority of cases, liver enzymes and platelets normalize within 48–72 hours.

d

AFLP is a rare but serious and potentially fatal liver-related complication of pregnancy. In milder cases, it may be clinically difficult to differentiate AFLP from other pregnancy-related diseases, HELLP syndrome in particular.

e

The Swansea Criteria are a validated metric for the diagnosis of AFLP and include 15 clinical, serologic, radiologic, and pathologic indices, and AFLP is diagnosed if 6 criteria are met. As with HELLP syndrome, delivery is the cornerstone of management; however, in contrast to HELLP syndrome, clinical improvement may lag for days to weeks.